@import "../../../styles/base/variables.scss";

.button {
  background-color: $primary;
  border: 1px solid $primary;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $btn-padding;
  border-radius: $btn-radius;
  height: $btn-height;
  font-size: $btn-fsize;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  transition: color $transition ease, background-color $transition ease;

  &:global(.sm) {
    height: $btn-height-sm;
    font-size: 1.125rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }

  &:global([disabled]) {
    opacity: 0.5;
    pointer-events: none;
  }

  &:global(.np) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &:hover {
    text-decoration: none;
    color: inherit;

    svg {
      color: inherit;
    }
  }

  @include media-breakpoint-down(md) {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
}

.buttonR {
  background-color: $primary;
  border: 1px solid $primary;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.4rem;
  border-radius: 17px;
  height: $btn-height-small;
  font-size: $btn-fsize-small;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  transition: color $transition ease, background-color $transition ease;

  &:global([disabled]) {
    opacity: 0.5;
    pointer-events: none;
  }

  &:global(.np) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &:hover {
    text-decoration: none;
    color: inherit;

    svg {
      color: inherit;
    }
  }

  @include media-breakpoint-down(md) {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
}

.small {
  font-size: 0.9375rem;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  height: $btn-height-sm;
}

.arrow {
  svg {
    transform: translateY(-1px);
    font-size: 0.875rem;
  }
}

.link {
  transition: color $transition ease;
  text-decoration: underline;
  font-size: 0.875rem;
  font-weight: 600;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.linkNon {
  transition: color $transition ease;
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 0.9375rem;
  font-weight: 600;

  &:hover {
    color: $black;
    text-decoration: underline;
  }
}

.primaryOutline {
  background-color: transparent;
  border-color: $primary;
  color: $primary;

  &:hover {
    background-color: $primary;
    color: $black;
  }
}

.secondaryOutline {
  background-color: transparent;
  border-color: $secondary;
  color: $secondary;

  &:hover {
    background-color: $secondary;
    color: $white;
  }
}

.collapse {
  background-color: $black;
  font-size: 1.1875rem;
  color: $white;
  font-family: $font-family-heavy;
  transition: color $transition ease;
  border: none;
  padding: 0 calc(1rem + 5px);
  width: 100%;
  display: flex;
  align-items: center;
  height: 58px;
  justify-content: space-between;
  border-bottom: 1px solid rgba($white, 0.1);

  > div {
    &:first-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &:last-child {
      flex-shrink: 0;

      svg {
        font-size: 0.8125rem;
        opacity: 0.65;
        transition: transform $transition ease;
      }
    }
  }

  &:global(.active) {
    > div {
      &:last-child {
        svg {
          transform: rotate(-180deg);
        }
      }
    }
  }
}

.radial {
  border-radius: 50%;
  padding: 0;
  flex-shrink: 0;
  width: $btn-height;
  height: $btn-height;
}

.square {
  border-radius: $block-radius;
}

.large {
  height: $btn-height-large;
  font-size: $btn-fsize-large;

  @include media-breakpoint-down(md) {
    height: $btn-height-large-md;
    font-size: $btn-fsize-large-md;
  }
}

.dark {
  background-color: $black;
  color: $white;
  border-color: $black;

  &:hover {
    color: $dark;
    background-color: transparent;
  }
}

.darkLight {
  background-color: $dark-5;
  color: $white;
  border-color: $dark-6;

  &:hover {
    color: $dark;
    background-color: $white;
  }
}

.primaryWhite {
  background-color: $primary;
  color: $white;
  border-color: $primary;

  &:hover {
    color: $primary;
    background-color: transparent;
  }
}

.primary {
  background-color: $blackAdv;
  color: $white;
  border-color: $blackAdv;

  &:hover {
    color: $dark;
    background-color: transparent;
  }
}

.primaryY {
  background-color: $primary;
  color: $dark;
  border-color: $primary;

  &:hover {
    color: $dark;
    background-color: transparent;
  }
}

.outlineArrow {
  background-color: transparent;
  color: $blackAdv;
  border-color: $blackAdv;

  &:hover {
    color: $white;
    background-color: $blackAdv;
  }
}

.primaryHome {
  background-color: $primary;
  color: $black;
  font-size: 1rem;
  border-color: $primary;

  &:hover {
    color: $primary;
    background-color: transparent;
  }
}

.light {
  background-color: $light;
  color: $black;
  border-color: rgba($black, 0.25);

  &:global(.active) {
    background-color: $black;
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &:hover {
    color: $secondary;
  }
}

.lightSimple {
  background-color: $gray-21;
  color: $black;
  border:none;

  &:global(.active) {
    background-color: $black;
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &:hover {
    color: $secondary;
  }
}

.lightD {
  background-color: $light;
  color: $gray-7;
  border-color: rgba($black, 0.25);

  &:global(.active) {
    background-color: $black;
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &:hover {
    background-color: $black;
    color: $white;
  }
}

.wide {
  border-radius: 4px;
  font-size: 1rem;
}

.secondary {
  background-color: $cover-blue;
  color: $secondary;
  border-color: rgba($secondary, 0.25);

  &:global(.active) {
    background-color: $secondary;
    color: $white;
  }
}

.secondaryLink {
  color: $secondary;
}

.grayLink {
  color: rgba($black, 0.5);
  text-decoration: underline;

  &:hover {
    color: rgba($black, 1);
    text-decoration: none;
  }
}

.notRound {
  border-radius: $border-radius/2;
}

.outlineInfo {
  font-size: 0.875rem;
  color: $black;
  font-weight: 500;
  border-color: $cover-11;
  background-color: transparent;

  &:hover {
    background-color: $cover-11;
  }
}

.outlineLight {
  color: $light;
  font-weight: 400;
  font-size: 1rem;
  border-color: $light;
  background-color: transparent;

  &:hover {
    background-color: $light;
    color: $black;
  }
}

.flatLight {
  font-size: 1.125rem;
  font-weight: 600;
  color: $dark;
  opacity: 0.7;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  transition: opacity $transition ease;

  // &::after{
  //   content: '';
  //   width: 100%;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   height: 6px;
  //   border-top-left-radius: 3px;
  //   border-top-right-radius: 3px;
  //   background-color: $dark;
  //   transform: translateY(100%);
  //   transform: transform $transition ease;
  // }

  &:global(.active) {
    opacity: 1;

    // &::after{
    //   transform: translateY(0);
    // }
  }

  &:hover {
    text-decoration: none;
    opacity: 1;
    color: $dark;
  }
}