@import "../../styles/base/variables.scss";

$menu-color: $black;
$toggle-transition: 0.2s;
$snappy: cubic-bezier(0.694, 0.048, 0.335, 1);

.header {
  padding: 1rem;
  border-bottom: 2px solid $gray;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: $light;
  transform: translateY(-100%);
  transition: transform $transition * 3 $transition-timing;

  &:global(.advanced) {
    flex-direction: column;
    padding: 0;
    border-bottom: 0;

    & > * {
      &:first-child {
        padding: 1rem;
        height: $header-height;
        flex-shrink: 0;
        display: flex;
        white-space: nowrap;
        width: 100%;
        align-items: center;
        border-bottom: 1px solid $gray-20;
      }
    }
  }

  :global(.logoCenter) {
    display: flex;
    align-items: center;
    justify-content: center;

    :global(.hag) {
      &:global(.center-logo) {
        transform: translateX(45px);
      }
    }
  }

  &:global(.fixed) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
  }

  &:global(.visible) {
    transform: translateY(0);
  }

  @include media-breakpoint-down(md) {
    padding-left: 0;
    padding-right: 0;
    height: $header-height-md;

    &:global(.advanced) {
      & > * {
        &:first-child {
          padding: 0;
          height: $header-height-md;
        }
      }
    }

    :global(.logoCenter) {
      :global(.hag) {
        &:global(.center-logo) {
          transform: translateX(30px);
        }
      }
    }

    :global(.hag) {
      &:global(.center-logo) {
        transform: translateX(30px);
      }
    }
  }
}

.menuToggler {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 16;

  > div {
    width: 23px;
    height: 16px;
    position: relative;
    transition: transform 0.3s $snappy;

    > span {
      display: block;
      width: 100%;
      height: 2.76px;
      margin-top: 5px;

      &::after {
        content: "";
        display: block;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        background-color: $dark-2;
        transition: background-color $toggle-transition * 4 $snappy;
      }

      &:first-child {
        margin-top: 0;
        transform: scaleX(1);
        transition: transform $toggle-transition $snappy;
        transition-delay: 0.4s;
      }
      &:nth-child(2) {
        transform: scaleX(0.6);
        transform-origin: center right;
        transition: transform $toggle-transition $snappy;
        transition-delay: 0.4s;
      }
      &:nth-child(3) {
        transform: scaleX(0.4);
        transform-origin: center right;
        transition: width $toggle-transition $snappy;
        transition-delay: 0.4s;
      }
    }
    > div {
      width: 2.76px;
      height: 0;
      position: absolute;
      top: -3px;
      left: 50%;
      margin-left: -1.5px;
      transition: height 0.4s $snappy;
      z-index: 10;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: $gray-4;
        transition: background-color $toggle-transition * 4 $snappy;
      }
    }
  }
  &:global(.is-menu-open) {
    > div {
      transform: rotate(45deg);
      transition-delay: 0.4s;
      > span {
        &::after {
          background-color: $gray-4;
        }
        &:first-child {
          transform: scaleX(0);
          transition: transform $toggle-transition $snappy;
        }
        &:nth-child(3) {
          width: 0;
          transition: width $toggle-transition $snappy;
        }
        &:nth-child(2) {
          transform: scaleX(1);
        }
      }
      > div {
        height: 23px;
        transition: height $toggle-transition $snappy;
        transition-delay: 0.3s;

        &::after {
          background-color: $gray-4;
        }
      }
    }
  }
}

.headerAnimationSvg {
  cursor: pointer;
  transition: transform $transition * 4 ease;

  svg {
    width: auto !important;
    height: 46px !important;

    > g {
      > g {
        &:first-child {
          display: none !important;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    svg {
      height: 31px !important;
    }
  }
}

.menuContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  display: flex;
  align-items: stretch;
  padding-top: 0;
  z-index: 15;
  transform: translateX(100%);
  transition: transform $transition * 3 $transition-timing;

  > div {
    &:first-child {
      background-color: rgba($black, 0.35);
      width: calc(100% - 270px);
      opacity: 0;
      transition: opacity $transition ease;
    }
    &:last-child {
      background-color: $blackAdv;
      padding: $gutter;
      padding-top: 0;
      padding-bottom: 0;
      width: 270px;
      transition: box-shadow $transition ease;
    }
  }

  &:global(.active) {
    transform: translateX(0);

    > div {
      &:first-child {
        opacity: 1;
        transition: opacity $transition*3 ease;
        transition-delay: $transition*3;
      }
      &:last-child {
        box-shadow: 10px 0px 85px rgba(18, 18, 18, 0.6);
      }
    }
  }

  ul {
    padding: 0.5rem 0;
    margin: 0;
    list-style: none;

    li {
      padding: 0;
      margin: 0;

      a {
        color: $secondary;
        text-decoration: none;
        font-size: 1.625rem;
        font-weight: 500;
        padding: 0.5rem 0;
        display: block;
        transition: color $transition ease;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  :global(.menu-container-title) {
    display: flex;
    align-items: center;
    height: $header-height-md;
    padding-top: 0.5rem;
    border-bottom: 1px solid rgba($gray, 0.07);
  }

  :global(.menu-container-stores) {
    display: inline-flex;
    background-color: $dark-5;
    border-radius: 4px;
    border: 1px solid rgba($white, 0.1);
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;

    a {
      margin: 0;
    }
  }

  :global(.menu-container-badge) {
    display: inline-flex;
    justify-content: center;
    width: 98px;
    height: 18px;
    line-height: 1;
    align-items: center;
    background-color: $primary;
    color: $blackAdv;
    padding: 0.2rem 0.4rem;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.6875rem;
    letter-spacing: 0.1em;
  }

  :global(.menu-container-links) {
    > * {
      margin: 0.5rem 0;
      margin-top: 0;
    }

    a {
      color: $lgray;
      text-decoration: none;
      font-weight: 500;
      font-size: 0.9375rem;
      transition: color $transition ease;

      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
  }

  :global(.menu-container-top) {
    position: relative;
    z-index: 2;
    height: $header-height-md;
  }

  :global(.menu-container-middle) {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem 0;
    height: calc(100% - 120px - #{$header-height-md});
  }

  :global(.menu-container-bottom) {
    position: relative;
    z-index: 2;
    height: 120px;
    border-top: 1px solid rgba($gray, 0.07);
  }

  :global(.menu-container-socials) {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 0;

    a {
      margin-right: 1.6rem;
      font-size: 1.4rem;
      color: $black-cover;
      transition: all $transition ease;

      &:hover {
        color: $white;
        opacity: 1;
      }
    }
  }

  ul {
    padding: 0.5rem 0;
    margin: 0;
    padding-top: 0;
    list-style: none;

    li {
      padding: 0;
      margin: 0;

      &:global(.active) {
        a {
          color: $primary;
        }
      }

      a {
        color: $secondary;
        text-decoration: none;
        font-size: 1.1875rem;
        font-weight: 500;
        padding: 0.2rem 0;
        display: block;
        font-weight: 600;
        transition: color $transition ease;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    height: 100vh;
    ul {
      li {
        a {
          font-size: 1.1875rem;
        }
      }
    }
  }
}

.headerActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.navigation {
  display: flex;

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.subLine {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: $dark;
  transform: translateY(16px);
  transition: all $transition ease;
}

.menuUser {
  margin-left: 1rem;
  img {
    width: 1.875rem;
    height: 1.875rem;
  }

  @include media-breakpoint-down(lg) {
    margin-right: 2.4rem;
    margin-left: 0;
  }
}

.headerFavorite {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color $transition ease;

  &:hover {
    color: $secondary;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.headerToggler {
  display: none;
  position: relative;
  height: 100%;

  &:global(.visible) {
    display: block;
  }

  @include media-breakpoint-down(lg) {
    display: block;
  }
}

.mobileActions {
  position: absolute;
  right: $gutter/2;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  transform: translateY(-50%);
  z-index: 16;

  @include media-breakpoint-down(md) {
    display: flex;
  }
}

.headerDesktopActions {
  display: block;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.navigationCenter {
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.logoMobile {
  height: 25px;
  width: auto;
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.headerButton {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  margin-right: 3rem;

  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.logo {
  height: 50px;
  width: auto;
  cursor: pointer;

  img {
    height: 100%;
    width: auto;
  }

  @include media-breakpoint-down(md) {
    height: 40px;
  }
}

.subNavigation {
  background-color: $gray-20;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  justify-content: center;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @include media-breakpoint-down(md) {
    justify-content: flex-start;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.subNavigationInner {
  display: inline-flex;
  align-items: center;
  position: relative;

  :global(a) {
    height: 50px;
  }
}
