@import "../../styles/global/variables.scss";

.tranding {
  padding: $section-spacer * 1.5 0;
  padding-bottom: 0;

  .badge {
    cursor: pointer;

    &:hover {
      background-color: rgba($dark, 0.15);
    }
  }

  .tranding-swiper-overflow {
    width: 100vw;
    overflow: hidden;
  }

  .swiper-wrapper {
    align-items: stretch;
  }

  .swiper-slide {
    height: auto;
  }

  .swiper-container {
    padding-bottom: $section-spacer*2;
  }

  .tranding-tags-container {
    margin-bottom: 1.5rem;
  }

  .tranding-container {
    width: map-get($container-max-widths, "xl");
    max-width: map-get($container-max-widths, "xl");

    .col-xl-6 {
      width: 50%;
      max-width: 50%;
    }

    .col-xl-4 {
      width: 33.3333%;
      max-width: 33.3333%;
    }
  }

  @include media-breakpoint-down(lg) {
    .tranding-container-swiper  {
      width: 133%;
      max-width: 133%;
    }
    .tranding-container {
      &.title {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .tranding-container-swiper  {
      width: 150%;
      max-width: 150%;
    }
    .tranding-tags-container {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      &::after{
        content: " ";
        white-space: pre;
        display: inline-block;
        width: 1rem;
        flex-shrink: 0;
      }

      .scroll-content {
        >div {
          display: flex;
          flex-wrap: nowrap;
        }
      }
    }
    .tranding-tags {
      display: flex;
      align-items: center;
      justify-content: stretch;
      margin-bottom: 1.5rem;

      h5 {
        margin-bottom: 0;
        margin-right: 1rem;
      }
    }
    .tranding-container {
      width: 100%;
      .col-xl-6 {
        width: 100%;
        padding-right: 0;
        max-width: 100%;

        &:last-child{
          .tranding-tags {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
