@import "../styles/global/variables.scss";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scoll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.app-inner{
  padding-top: $header-height;

  .scoll-bar {
    height: calc(100vh - #{$header-height});
  }

  &.no-wrap {
    padding-top: 0;

    .scoll-bar {
      height: 100vh;
    }
  }


  @include media-breakpoint-down(md) {
    padding-top: $header-height-md;

    .scoll-bar {
      height: calc(100vh - #{$header-height-md});
    }

    &.no-wrap {
      padding-top: 0;
  
      .scoll-bar {
        height: 100vh;
      }
    }
  
  }
}

#app .scrollbar-track {
  background-color: transparent;
  z-index: 11;
}

#app .scrollbar-track.scrollbar-track-x {
  display: none !important;
}

#app .scrollbar-thumb {
  width: 3px;
  left: 2px;
  background-color: $primary;
}
