@import "../../styles/base/variables.scss";

.htmlViewer {

  :global(.container) {
    max-width: $small-container;
  }

  ul {
    padding-left: 0;

    li {
      &:first-child{
        padding-top: 0;
      }
    }
  }

  p {
    margin-bottom: 1rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.2rem;
  }

  h1, h2, h3, h4, h5 {
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-family: $font-family-secondary;
    font-weight: 500;
  }

}