@import "../../styles/base/variables.scss";

.columns {
  padding: $section-spacer 0;

  :global(.container){
    max-width: 1000px;
  }

  &:global(.advanced){
    background-color: $blackAdv;
    padding: $section-spacer 0;

    h3 {
      color: $white;
    }
  }

  @include media-breakpoint-down(md) {
    padding: $section-spacer 0;

    :global(.border-bottom-half) {
      &::after{
        left: 50%;
        transform: translateX(-50%);
      }
    }

    :global(.border-bottom-half-mobile) {
      &::after{
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &:global(.reduce-padding-md){
      padding-top: 0;
    }

    &:global(.advanced){
      padding: $section-spacer $section-spacer/2;
    }
  }
}

.columnTitle {
  display: flex;
  align-items: center;

  img {
    max-height: 1.125rem;
    margin-right: 1rem;
  }
}

.columnTitleAdvanced {
  display: flex;
  align-items: center;

  img {
    max-height: 1.5rem;
    margin-right: 1rem;
  }
}

.columnsImg {
  margin: 3rem 0;
  img {
    max-width: 100%;
  }
}

.columnsRow {
  > div {
    padding-left: $gutter*2;
    padding-right: $gutter*2;
  }

  @include media-breakpoint-down(md) {
    > div {
      padding-left: $gutter;
      padding-right: $gutter;
    }
  }
}

.columnsTitle {
  font-size: 2.3125rem;

  @include media-breakpoint-down(md) {
    font-size: 1.8125rem;
    max-width: 260px;
    margin: 0 auto;
  }
}