@import "../../styles/base/variables.scss";

.tags {
  padding: $section-spacer  0;
  border-bottom: 1px solid $border-color;

  :global(.container) {
    max-width: $small-container;
  }

  :global(.badge) {
    cursor: pointer;

    &:hover {
      background-color: rgba($dark, 0.15);
    }
  }

  :global(.tags-swiper-overflow) {
    width: 100vw;
    overflow: hidden;
  }

  :global(.swiper-wrapper) {
    align-items: stretch;
  }

  :global(.swiper-slide) {
    height: auto;
  }

  :global(.tags-tags-container) {
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    min-width: 1100px;

    :global(div) {
      width: 20%;
      flex-shrink: 0;
    }
  }

  :global(.container)  {
    max-width: $small-container;
  }

  :global(.tags-container) {
    width: 100%;
    max-width: $small-container;

    .col-xl-6 {
      width: 50%;
      max-width: 50%;
    }

    .col-xl-4 {
      width: 33.3333%;
      max-width: 33.3333%;
    }
  }

  @include media-breakpoint-down(lg) {
    :global(.tags-container-swiper)  {
      width: calc(100% + #{$gutter/2});
    }
    :global(.tags-container) {
      &.title {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  @include media-breakpoint-down(md){
    :global(.tags-tags-container) {
      margin-bottom: 1.5rem;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      min-width: 960px;
  
      :global(div) {
        &:first-child{
          width: 15%;
        }
        &:nth-child(2) {
          width: 17%;
        }

        &:nth-child(3) {
          width: 23%;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    border-top: 1px solid $border-color;
    padding: $section-spacer/2  0;

    :global(.tags-tags-container) {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      &::after{
        content: " ";
        white-space: pre;
        display: inline-block;
        width: 1rem;
        flex-shrink: 0;
      }

      :global(.scroll-content) {
        >div {
          display: flex;
          flex-wrap: nowrap;
        }
      }
    }
    :global(.tags-tags) {
      display: flex;
      align-items: center;
      justify-content: stretch;
      margin-bottom: 1.5rem;
      padding-left: $gutter/2;

      h5 {
        margin-bottom: 0;
        margin-right: 1rem;
      }
    }
    :global(.tags-container) {
      width: 100%;
      .col-xl-6 {
        width: 100%;
        padding-right: 0;
        max-width: 100%;

        &:last-child{
          :global(.tags-tags) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.useCasesTitle {
  white-space: nowrap;
  padding-right: 1rem;

  @include media-breakpoint-down(md) {
    margin-bottom: 1rem;
    padding-right: 0;
  }
}

.useCasesContainer {
  width: 100%;
}

.useCasesInner {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.tagsUseCases {
  background-color: $gray-21;
  border-bottom: 5px solid $stroke-2;
  padding: 3rem 0;

  @include media-breakpoint-down(md) {
    :global(.col) {
      padding: 0;
    }
  }
}

.useCasesRow {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  @include media-breakpoint-down(md) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}