@import "../../styles/base/variables.scss";

.page {
  width: 100%;
  max-width: 1000px;
  padding: 0 $gutter/2;
  padding-bottom: $section-spacer;
  padding-top: $section-spacer;
  margin: 0 auto;

  h1 {
    font-family: $font-family-base;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      width: 5px;
      height: 30px;
      position: absolute;
      background-color: $primary;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 2px;
    }
  }

  h2 {
    font-family: $font-family-base;
    font-weight: 600;
    font-size: 1.3125rem;
    margin-bottom: 1rem;
    position: relative;

    &::after {
      content: "";
      width: 5px;
      height: 30px;
      position: absolute;
      background-color: $primary;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 2px;
    }
  }

  h3 {
    font-family: $font-family-base;
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;
    font-weight: 500;

    strong {
      font-weight: 600;
      color: rgba($black, 0.8);
    }
  }

  hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  code {
    width: 100%;
    background-color: $white;
    border: 1px solid $gray-18;
    border-radius: 4px;
    padding: 0 1rem;
    height: 50px;
    display: flex;
    align-items: center;
    color: rgba($black, 0.8);
    margin: 0.2rem 0;
  }

  :global(.apiKey) {
    background-color: $primary-cover-2;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 2rem;
    display: inline-block;

    input {
      background-color: $white;
      border: 1px solid $gray-18;
      border-radius: 4px;
      padding: 0 1rem;
      height: 50px;
      width: 320px;
      display: inline-flex;
      align-items: center;
      font-size: 1.0625rem;
      color: rgba($black, 0.8);
      margin: 0.2rem 0;
      outline: none;
    }

    > div {
      display: flex;
      align-items: center;
    }
  }

  button {
    width: 46px;
    height: 46px;
    background-color: $cover-10;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;

    &::after {
      content: "";
      background-image: url(/img/copy.svg);
      width: 24px;
      height: 24px;
      background-position: center center;
      background-size: contain;
    }
  }

  :global(.code-head), :global(.code-body) {
    h3 {
      text-transform: uppercase;
      font-size: 0.7rem;
      font-family: Arial, Helvetica, sans-serif;
      color: $white;
      letter-spacing: 0.1em;
      margin-bottom: 0.5rem;
    }

    label {
      width: 100%;
      background-color: $blackAdv;
      color: $white;
      height: 24px;
      font-size: 0.8rem;
      font-weight: 700;
      display: flex;
      align-items: center;
      padding-left: 1rem;
      margin-bottom: 0;
      border-top-right-radius: $border-radius/2;
      border-top-left-radius: $border-radius/2;
    }
  }

  :global(.code-head){ 
    background-color: $black;
    padding: 1.6rem;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-bottom: 2px solid $blackAdv;

    code {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      color: $black;
      font-weight: 600;
      margin-top: 0;
      font-size: 0.9375rem;
    }
  }

  :global(.code-body) {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-color: $black;
    padding: 1.6rem;

    code {
      color: $white;
      background-color: transparent;
      font-weight: 400;
      margin-top: 0;
      height: auto;
      border: none;
      font-size: 0.8125rem;
      line-height: 1.6;
      margin-bottom: 0;
      padding: 0;

      pre {
        white-space:pre-wrap;
        margin-bottom: 0;
        counter-reset: line;
        padding-bottom: 10px;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          width: 1em;
          height: 3px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(255,255,255, 0.2);
        }
        
        span {
          display: block;
          white-space:pre;
        }
        span:before {
          counter-increment: line;
          content: counter(line);
          display: inline-block;
          text-align: right;
          padding: 0 .5em;
          margin-right: .5em;
          color: #888
        }
      }
    }
  }

  @include media-breakpoint-down(md) {

    h1, h2 {
      &::after{
        left: -20px;
      }
    }

    :global(.apiKey) {
      padding: 1rem;
      
      input {
        width: auto;
      }
    }
  }
}
