@import "../../styles/base/variables.scss";

.demoViewer {
  border-bottom: 1px solid $border-color;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: $section-spacer * 2;
  position: relative;

  :global(.scroll-content) {
    padding-top: 20px;
  }

  @include media-breakpoint-down(md) {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    height: calc(100vh - #{$header-height-adv-md});
    height: calc((var(--vh, 1vh) * 100) - #{$header-height-adv-md});
    padding-bottom: 0;
  }
}

.actionsRow {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  > * {
    white-space: nowrap;
  }

  @include media-breakpoint-down(lg) {
    > button {
      font-size: 1rem;
    }
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.t1 {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.queryRow {
  width: 100%;
  padding-right: 0.5rem;

  @include media-breakpoint-down(md) {
    padding-right: 0;
    margin-bottom: 10px;
  }
}

.sidebar {
  width: 300px;

  :global(button) {
    justify-content: flex-start;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.content {
  display: flex;
}

.inner {
  width: calc(100% - 300px);
  padding-left: $gutter/2;

  @include media-breakpoint-down(md) {
    width: 100%;
    padding-left: 0;
  }
}

.response {
  display: flex;
  margin-top: 1rem;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }

  @include media-breakpoint-down(md) {
    margin-top: 0;
    width: calc(100% + #{$gutter});
    margin-left: -$gutter/2;
  }
}

.responsePreview {
  width: 400px;
  padding-left: 1rem;

  @include media-breakpoint-down(lg) {
    padding-left: 0;
    margin-top: 0;
    width: 100%;
  }
}

.responseTitle {
  min-height: 28px;
  display: flex;
  align-items: center;

  :global(.badge) {
    font-size: 1.05rem;
    line-height: 1.05rem;
  }

  @include media-breakpoint-down(md) {
    height: 48px;
    background-color: $cover-21;
    display: flex;
    align-items: center;
    padding-left: $gutter/2;
  }
}

.responsePreviewTitle {
  min-height: 32px;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    height: 48px;
    background-color: $cover-21;
    display: flex;
    align-items: center;
    padding-left: $gutter/2;
  }
}

.responseApi {
  width: calc(100% - 400px);

  @include media-breakpoint-down(lg) {
    width: 100%;
  }
}

.responseNotification {
  text-align: center;
  color: $dark-8;
  font-size: 0.9375rem;

  a {
    color: inherit;
  }

  svg {
    font-size: 70px;
    opacity: 0.5;
  }
}

.responseJson {
  height: 60vh;
  background-color: $gray-21;
  border-radius: 4px;
  padding: 1rem;
  margin-top: 1rem;
  overflow: hidden;

  &:global(.center) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include media-breakpoint-down(lg) {
    margin-bottom: 1rem;
  }

  @include media-breakpoint-down(md) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.emptyResult {
  height: 60vh;
  font-weight: 600;
  font-size: 0.9375rem;
  width: 100%;
  background-color: $gray-21;
  color: $dark-8;
  border-radius: 4px;
  padding: 1rem;
  margin-top: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-down(lg) {
    margin-bottom: 1rem;
  }

  @include media-breakpoint-down(md) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.sidebarFilter {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  :global(svg) {
    margin-right: 0.5rem;
    color: rgba($black, 0.5);
    font-size: 0.75rem;
  }
}

.sidebarFilterCount {
  margin-left: 0.5rem;
  background-color: $primary;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  line-height: 1;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 700;
  color: $blackAdv;
}

.actionsRowTypes {
  @include media-breakpoint-down(md) {
    width: calc(100% + #{$gutter/2});
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-right: $gutter/2;
    justify-content: flex-start;
    overflow-x: auto;

    > div {
      width: 100%;
      margin-bottom: 10px;
      font-size: 0.9375rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    > span {
      margin-left: 7px;
      margin-right: 7px;
      padding-bottom: 5px;
    }
  }
}

.querySearchButtons {
  @include media-breakpoint-down(md) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    > button {
      width: 100%;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.filterCount {
  background-color: $primary;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  font-size: 0.8rem;
  line-height: 0.8rem;
  align-items: center;
  justify-content: center;
  margin-left: 0.6rem;
  color: $blackAdv;
}

.queryRow {
  display: flex;
}

.queryBlock {
  background-color: $gray-21;
  border: 1px solid $cover-14;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    padding: 0.5rem 0.5rem;
  }
}

.textInfo {

  @include media-breakpoint-down(md) {
    font-size: 0.875rem;
  }
}

.titleInfo {
  @include media-breakpoint-down(md) {
    font-size: 0.9375rem;
  }
}

.domainInput {
  display: flex;
  align-items: center;
}

.domainInputRemove {
  color: $error;
  font-size: 1.2rem;
  margin-left: 0.7rem;
  cursor: pointer;
  transition: opacity $transition ease;

  &:hover {
    opacity: 0.6;
  }
}

.error {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  opacity: 0;
  background-color: $error;
  color: $white;
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
  font-weight: 600;
  font-size: 0.9375rem;
  pointer-events: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: all $transition ease;

  &:global(.notification) {
    background-color: $secondary;
  }

  &:global(.active) {
    opacity: 1;
    pointer-events: all;
    transform: translateX(-50%) translateY(0);
  }

  @include media-breakpoint-down(md) {
    width: calc(100% - #{$gutter});
    padding-right: 20px;
    padding-left: 20px;
  }
}

.errorMessage {
  padding-top: 3px;
}

.errorIcon {
  display: flex;
  align-items: center;
  margin-right: 0.8rem;
  font-size: 1.4rem;
}

.errorClose {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.7rem;
  cursor: pointer;
  transition: opacity $transition ease;

  &:hover {
    opacity: 0.5;
  }
}

.exportButton {
  font-size: 0.9375rem;
  font-weight: 600;
  width: 105px;

  > div {
    margin-right: 0.5rem;

    svg {
      margin-right: 0;
    }
  }
}

.exportIconButton {
  display: flex;
  align-items: center;
  svg {
    font-size: 1rem;
    opacity: 1;
  }
}

.exportIcon {
  display: flex;
  align-items: center;
  svg {
    font-size: 1rem;
  }
}

.sidebarSearch {
  display: none;
  //pointer-events: none;
  opacity: 0;
  transform: translateY(20px);

  &:global(.active) {
    opacity: 1;
    transform: translateY(0);
    //pointer-events: all;
  }

  @include media-breakpoint-down(md) {
    display: flex;
  }
}

.shareLink {
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  margin-left: 0.25rem;
  line-height: 1;
  cursor: pointer;
  transform: translateY(2px);

  svg {
    font-size: 0.875rem;
    margin-right: 0.25rem;
  }
}

.shareInput {
  background-color: $white;
  border: none;
  width: 100%;
  font-size: 1rem;
  outline: none;
  height: $btn-height-sm;
  display: flex;
  align-items: center;
  border-radius: $btn-radius;
  border: 1px solid $stroke-1;
  box-shadow: $shadow-10;
  color: $blackAdv;
  font-weight: 600;
  cursor: grab;
  width: calc(100% - 115px);
  white-space: nowrap;

  span {
    display: block;
    flex-shrink: 0;
    padding: 0 1rem;
    margin-right: 1rem;
  }
}

.shareInputRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareButton {
  font-size: 1rem;
  font-weight: 600;
  width: 105px;
  overflow: hidden;
  display: block;

  &:global(.sm) {
    font-size: 1rem;
  }

  span {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: transform $transition ease;
  }

  &:global(.copied) {
    span {
      transform: translateY(-100%);
    }
  }
}

.includeFilter {
  padding-top: 0.5rem;
  margin-top: 1rem;
  border-top: 1px solid $border-color;

  > div {
    &:first-child{
      margin-bottom: 0.5rem;
    }
    &:last-child {
      display: flex;
      align-items: center;
      > * {
        &:first-child {
          margin-right: 1rem;
        }
      }
    }
  }
}

.andorColumn {
  @include media-breakpoint-down(sm) {
    padding-right: 0;
  }
}
