@import "../../styles/global/variables.scss";

.page-image-wrapper {
  text-align: center;
  margin: 70px 0 30px;

  img {
    max-width: 400px;
  }

  @include media-breakpoint-down(sm){
    margin: 40px 0 0px;
  }
}

.download-page-title {
  margin-top: 30px;
  margin-bottom: 30px;

  @include media-breakpoint-down(sm) {
    margin: 40px 0 50px;
  }
}

.download-page-subtitle {
  color: #000000;
  line-height: 1.4;
  margin-bottom: 50px;
  font-size: 19px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 35px;
  }
}

.download-header-wrapper {
  text-align: center;
  margin: 0 auto 50px;
  max-width: 760px;
  width: 100%;
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 30px;

  @include media-breakpoint-down(sm) {
    max-width: calc(100% - 60px);
    padding-bottom: 35px;
    margin-bottom: 35px;
  }
}

.stores-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;

  &__item {
    margin: 0 20px;
    height: 50px;
  }  

  @include media-breakpoint-down(sm){
    &__item {
      height: 40px;
      margin: 0 10px;
    }
  }
}

.download-description {
  background: #FFF9E0;
  border: 1px solid #BFBFBF;
  box-shadow: 0px 2px 0px #EAEAEA;
  border-radius: 10px;
  padding: 20px 25px 30px;


  &__title {
    font-weight: 600;
    font-family: 'Avenir Next';
    color: #272727;
  }

  &__text {
    color: #67655D;
    margin: 0;
  }

  @include media-breakpoint-down(sm){
    font-size: 14px;
    padding: 17px 20px 20px;

    &__title {
      margin-bottom: 8px;
    }
  }
}

.download-container {
  margin: 0 auto;
  max-width: 760px;
  width: 100%;
  padding-bottom: 170px;
  padding-top: 3rem;
  border-top: 1px solid $border-color;

  @include media-breakpoint-down(sm) {
    padding-top: 3rem;
  }
}