@import "../../styles/global/variables.scss";

.hero {
  width: 100%;
  padding-top: $section-spacer;
  padding-bottom: $section-spacer * 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: $gutter/2;
  padding-right: $gutter/2;

  &-img {
    max-width: 300px;
    max-height: 240px;
    margin-bottom: 3.5rem;
  }

  &-inner {
    text-align: center;
  }

  &-buttons {
    max-width: 320px;
    margin: 0 auto;
    margin-top: 1rem;
  }

  &-apps-markets {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

    img {
      opacity: 0.3;
      margin: 0 0.8rem;
      max-height: 1.875rem;
      transition: opacity $transition ease;


      &:hover {
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &-inner {
      max-width: 280px;
      text-align: center;
    } 

    &-apps-markets {
      margin-top: 2rem;

      img {
        max-height: 1.5625rem;
        margin: 0 0.5rem;
      }
    }
  }
}
