@import "../../styles/base/variables.scss";

.follow {
  padding: 50px 0;
  background-color: $primary-cover;
  border-top: 1px solid $border-color;

  :global(.follow-title) {
    font-size: $font-family-heavy;
    font-size: 1.25rem;
    font-weight: 900;
    margin-right: 2rem;
  }

  :global(.follow-form) {
    transition: opacity $transition ease;

    &:global(.hide) {
      opacity: 0;
      pointer-events: none;
    }
  }

  :global(.follow-message) {
    position: absolute;
    top: 50%;
    transform: translateY(20px);
    opacity: 0;
    width: 100%;
    text-align: center;
    color: $secondary;
    font-family: $font-family-secondary;
    transition: all $transition ease;

    &:global(.show) {
      transform: translateY(-50%);
      transition-delay: $transition*2;
      opacity: 1;
    }
  }

  :global(.follow-notification) {
    font-size: 0.75rem;
    position: absolute;
    text-align: left;
    left: 0;
    bottom: -40px;
    color: $danger;
    opacity: 0;
    transform: translateY(10px);
    transition: all $transition ease;

    &:global(.active) {
      transform: translateY(0);
      opacity: 1;
    }
  }

  :global(.follow-loader) {
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
  }

  form {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
  }

  :global(.follow-input-container){
    border: 1px solid $border-color;
    padding: 0.7rem 1.6rem;
    border-radius: 25px;
    display: flex;
    position: relative;
    align-items: center;

    input {
      background-color: transparent;
      border: none;
      outline: none;
      width: 100%;
      font-weight: 500;
    }

    button {
      background-color: transparent;
      border: none;
      outline: none;
      color: $secondary;
      text-decoration: underline;
      font-family: $font-family-secondary;

      &[disabled] {
        pointer-events: none;
        opacity: 0.5;
      }

      &:hover{
        text-decoration: none;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 24px 0 28px;

    form {
      flex-direction: column;
    }

    :global(.follow-notification) {
      width: 100%;
      text-align: center;
      left: 0;
    }

    :global(.follow-message) {
      left: 0;
    }

    :global(.follow-title) {
      margin-bottom: 1rem;
      margin-right: 0;
    }
  }
}


.subscribe-form {
  display: flex;
  justify-content: space-between;
  height: 46px;
  background: #FFFFFF;
  border: 1px solid #D2CEC4;
  border-radius: 23px;
  padding-left: 23px;
  padding-right: 22px;
  overflow: hidden;

  &.hide {
    display: none;
  }

  &__input {
    border: none;
    outline: none;
    max-width: 180px;
    font-family: "Avenir Next";
    font-weight: 500;
    font-size: 14px;
    color: #818181; 
    padding-right: 10px;

    &::placeholder {
      font-family: "Avenir Next";
      font-weight: 500;
      font-size: 14px;
      color: #818181; 
    }
  }

  &__submit {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #227C9D;
    opacity: 0.9;
    color: $secondary;
    text-decoration: underline;
    font-family: $font-family-secondary;

    &:hover {
      text-decoration: none;
    }
  }

  &__loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__notification {
    margin-top: 10px;
    font-size: 13px;

    &.error {
      color: red;
    }

    &.success {
      color: #227C9D;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 0 15px;

    &__input {
      max-width: 120px;
    }
  }
}