@import "../../styles/global/variables.scss";

.about {
  padding-top: $section-spacer*2;
  padding-bottom: $section-spacer*2;
  background-color: $black;

  h2 {
    margin-bottom: 0;
  }

  &-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    >div {
      width: 100%;
      text-align: right;

      a {
        display: inline-block;
        max-width: 320px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &-button {
      margin-top: 2rem;  
      >div {
        text-align: center; 
      }
    }
    h2 {
      max-width: 280px;
      margin: 0 auto;
      text-align: center;
    }
    padding-top: $section-spacer;
    padding-bottom: $section-spacer;
  }
}
