@import "../../styles/base/variables.scss";

.hero {
  width: 100%;
  padding-top: $section-spacer * 1.4;
  padding-bottom: $section-spacer * 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: $gutter/2;
  padding-right: $gutter/2;
  overflow: hidden;

  &:global(.home-hero) {
    img {
      max-width: 195px;
      width: 100%;
    }
  }

  &:global(.blog) {
    &:global(.text-sub-title) {
      color: $gray-5;
    }
  }

  @include media-breakpoint-down(md) {
    &:global(.small){
      img {
        max-width: 100px !important;
        width: 100%;
      }
    }

    &:global(.home-hero) {
      > div {
        max-width: 100%;
      }
    }

    &:global(.reduce-mobile) {
      padding-top: $section-spacer*0.8;
    }
  }
}

.inner {
  text-align: center;

  @include media-breakpoint-down(md) {
    max-width: 280px;
    text-align: center;
  }
}

.img {
  max-width: 300px;
  max-height: 240px;
  margin-bottom: 1.5rem;

  @include media-breakpoint-down(md) {
    max-width: 200px !important;
    width: 100%;
  }
}

.imgAdvacned {
  width: 100%;
  height: auto;

  @include media-breakpoint-down(md) {

  }
}

.appsMarkets {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;

  img {
    opacity: 0.3;
    margin: 0 0.8rem;
    max-height: 1.875rem;
    transition: opacity $transition ease;

    &:hover {
      opacity: 1;
    }
  }

  @include media-breakpoint-down(md) {
    margin-top: 2rem;

    img {
      max-height: 1.5625rem;
      margin: 0 0.5rem;
    }
  }
}

.buttons {
  max-width: 320px;
  margin: 0 auto;
  margin-top: 1rem;
}

.buttonsAdvanced {
  display: flex;
  align-items: center;

  > * {
    margin-right: 1rem;
  }

  @include media-breakpoint-down(md) {
    flex-direction: column-reverse;
    align-items: flex-start;
    max-width: 200px;

    > * {
      width: 100%;
    }
  }
}

.imgAdvacnedContainer {

  bottom: -30px;

  img, svg {
    max-height: 460px;
  }

  @include media-breakpoint-down(lg) {
    width: 430px;
    position: absolute;
    bottom: 0;
    right: -100px;
  }

  @include media-breakpoint-down(md) {
    bottom: 0;
    right: -270px;
  }
}

.homeAnimation {
  margin: 1rem auto;
  max-width: 195px;
  height: 93px;
  display: flex;

  @include media-breakpoint-down(md) {
    max-width: 145px;
    margin-bottom: 0.5rem;
  }
}
