@import "../../styles/base/variables.scss";

.hero {
  width: 100%;
  padding-top: $section-spacer * 1.4;
  padding-bottom: $section-spacer * 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: $gutter/2;
  padding-right: $gutter/2;
  overflow: hidden;

  &:global(.home-hero) {
    img {
      max-width: 195px;
      width: 100%;
    }
  }

  &:global(.blog) {
    &:global(.text-sub-title) {
      color: $gray-5;
    }
  }

  @include media-breakpoint-down(md) {
    padding-top: $section-spacer * 0.6;

    &:global(.small) {
      img {
        max-width: 100px !important;
        width: 100%;
      }
    }

    &:global(.home-hero) {
      > div {
        max-width: 100%;
      }
    }

    &:global(.reduce-mobile) {
      padding-top: $section-spacer * 0.8;
    }
  }
}

.heroLp {
  width: 100%;
  padding-top: $section-spacer * 1.4;
  padding-bottom: $section-spacer * 0.8;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;

  &:global(.home-hero) {
    img {
      max-width: 195px;
      width: 100%;
    }
  }

  @include media-breakpoint-down(md) {
    padding-top: $section-spacer * 0.6;

    &:global(.home-hero) {
      > div {
        max-width: 100%;
      }
    }

    &:global(.reduce-mobile) {
      padding-top: $section-spacer * 0.6;
    }
  }
}

.inner {
  text-align: center;

  @include media-breakpoint-down(md) {
    max-width: 280px;
    text-align: center;
  }
}

.innerLanding {
  text-align: center;

  @include media-breakpoint-down(md) {
    max-width: 100vw;
    padding-left: $gutter/2;
    padding-right: $gutter/2;
  }
}

.img {
  max-width: 300px;
  max-height: 240px;
  margin-bottom: 1.5rem;

  @include media-breakpoint-down(md) {
    max-width: 200px !important;
    width: 100%;
  }
}

.imgLanding {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;

  img {
    display: block;
    max-width: 300px;
    max-height: 240px;
    flex-shrink: 0;
  }

  @include media-breakpoint-down(md) {
    width: 100%;

    &:global(.mobile-offset) {
      width: 100%;

      img {
        width: 460px;
        max-width: none;
      }
    }
  }
}

.animationLanding {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;

  > div {
    display: block;
    max-width: 440px;
    flex-shrink: 0;
  }

  svg {
    display: block;
    max-width: 440px;
    flex-shrink: 0;
  }

  @include media-breakpoint-down(md) {
    width: 100%;

    &:global(.mobile-offset) {
      width: 100%;

      > div {
        display: block;
        max-width: 440px;
        flex-shrink: 0;
      }

      svg {
        width: 460px;
        max-width: none;
      }
    }
  }
}

.imgStoreContainer {
  text-align: right;
  padding-right: 100px;

  @include media-breakpoint-down(md) {
    padding-right: 0;
    text-align: center;
  }
}

.heroStoresInner {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;

  @include media-breakpoint-down(md) {
    justify-content: center;
    text-align: center;

    h1 {
      margin: 0 auto;
    }

    p {
      max-width: 280px;
      margin: 0 auto;
      font-size: 1.0625rem;
      margin-top: 0.5rem;
    }
  }
}

.imgStores {
  max-width: 300px;
  height: auto;

  @include media-breakpoint-down(md) {
    max-width: 260px;
  }
}

.stores {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    justify-content: center;
  }
}

.storesItem {
  height: 48px;
  width: auto;
  margin-right: 20px;

  @include media-breakpoint-down(md) {
    height: 43px;
    margin: 0 10px;
  }
}

.imgAdvacned {
  width: 100%;
  height: auto;

  @include media-breakpoint-down(md) {
  }
}

.appsMarkets {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;

  img {
    opacity: 0.3;
    margin: 0 0.8rem;
    max-height: 1.875rem;
    transition: opacity $transition ease;

    &:hover {
      opacity: 1;
    }
  }

  @include media-breakpoint-down(md) {
    margin-top: 2rem;

    img {
      max-height: 1.5625rem;
      margin: 0 0.5rem;
    }
  }
}

.buttons {
  max-width: 320px;
  margin: 0 auto;
  margin-top: 1rem;
}

.buttonsLp {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;

  > * {
    margin: 0 0.5rem;
    width: 100%;
    max-width: 220px;
  }
}

.buttonsAdvanced {
  display: flex;
  align-items: center;

  > * {
    margin-right: 1rem;
  }

  @include media-breakpoint-down(md) {
    flex-direction: column-reverse;
    align-items: flex-start;
    max-width: 200px;

    > * {
      width: 100%;
    }
  }
}

.buttonsSpc {
  display: flex;
  align-items: center;

  > * {
    margin-right: 1rem;
  }

  @include media-breakpoint-down(sm) {
    justify-content: space-between;
    width: 100%;
    > * {
      width: 100%;
      margin-right: 0;

      &:last-child {
        margin-left: 1rem;
      }
    }
  }
}

.imgAdvacnedContainer {
  bottom: -30px;

  img,
  svg {
    max-height: 460px;
  }

  @include media-breakpoint-down(lg) {
    width: 430px;
    position: absolute;
    bottom: 0;
    right: -100px;
  }

  @include media-breakpoint-down(md) {
    bottom: 0;
    right: -270px;
  }
}

.homeAnimation {
  margin: 1rem auto;
  max-width: 240px;
  display: flex;

  @include media-breakpoint-down(md) {
    max-width: 200px;
    margin-bottom: 0.5rem;
  }
}

.heroSpcInner {
  @include media-breakpoint-down(lg) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.imgSpcContainer {
  margin-bottom: 0.5rem;
  @include media-breakpoint-down(lg) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
}

.heroTitleSpc {
  @include media-breakpoint-down(lg) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.heroSpcDesc {
  @include media-breakpoint-down(lg) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.heroDemoSlider {
  margin-top: 2rem;
}

.innerLanding {
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}

.innerLandingMb {
  margin-bottom: 2rem;
}