@import "../base/variables.scss";

.logo {
  width: 100px;
  height: auto;
  cursor: pointer;

  &:global(.active) {
    width: 100px;
  }

  @include media-breakpoint-down(md) {
    width: 87px;

    &:global(.active) {
      width: 87px;
    }
  }
}

.list {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.listPrimary {
  list-style: none;
  font-weight: 500;
  font-size: 0.9375rem;
  margin-bottom: 0;

  &:global(.dark) {
    padding: 0;
    font-size: 1.125rem;
    font-weight: 500;

    li {
      color: $white;
    }
  }

  a {
    color: $secondary;
    text-decoration: none;
    transition: color $transition ease;
    font-family: $font-family-heavy;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }

  li {
    padding: 0.4rem 0;
    padding-left: 1.4rem;
    position: relative;
  }
  li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: $primary;
  }
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fw300 {
  font-weight: 300;
}
.fw500 {
  font-weight: 500;
}
.fw700 {
  font-weight: 700;
}

.prApp {
  padding-right: $content-padding;
}

.plApp {
  padding-left: $content-padding;
}

.select {
  position: relative;
  z-index: 10;
  flex-shrink: 0;
  min-width: 160px;

  :global(.acr-select__value-container) {
    padding-left: 1rem;
  }

  :global(.acr-select__single-value) {
    display: flex;
    align-items: center;
    color: $white;
    font-weight: 600;
    font-size: 0.8125rem;

    svg {
      font-size: 1rem;
      margin-right: 0.5rem;
    }

    > * {
      display: flex;
      align-items: center;
    }
  }

  :global(.acr-select__menu) {
    border-radius: 10px;
    overflow: hidden;
  }

  :global(.acr-select__menu-list) {
    padding: 0;
    border: none;
  }

  :global(.acr-select__option) {
    font-size: 0.875rem;
    font-weight: 600;
  }

  :global(.acr-select__option.acr-select__option--is-focused) {
    background-color: rgba($primary, 0.1);
  }

  :global(.acr-select__option.acr-select__option--is-selected) {
    background-color: rgba($black, 0.6);
  }

  :global(.acr-select__control) {
    background-color: $black;
    border-radius: 25px;
    box-shadow: none;
    border: none;

    :global(.acr-select__indicators) {
      background-color: transparent;

      :global(.acr-select__indicator) {
        color: $white;
        transform-origin: center center;
        margin-right: 8px;
        transition: transform $transition ease;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  :global(.acr-select__indicator-separator) {
    display: none;
  }

  :global(.acr-select__control.acr-select__control--menu-is-open) {
    :global(.acr-select__indicators) {
      :global(.acr-select__indicator) {
        transform: rotate(-180deg);
      }
    }
  }
}

.selectLight {
  position: relative;
  z-index: 10;
  flex-shrink: 0;
  min-width: 160px;
  max-width: 100%;

  &:global(.white) {
    :global(.acr-select__control) {
      background-color: $white;
    }
  }

  &:global(.neutral) {
    :global(.acr-select__placeholder) {
      color: rgba($black, 0.5);
    }
  }

  :global(.acr-select__value-container) {
    padding-left: 1rem;
  }

  :global(.acr-select__single-value),
  :global(.acr-select__placeholder) {
    display: flex;
    align-items: center;
    color: $black;
    font-weight: 600;
    font-size: 1rem;

    svg {
      font-size: 1rem;
      margin-right: 0.5rem;
    }

    > * {
      display: flex;
      align-items: center;
    }
  }

  :global(.acr-select__menu) {
    border-radius: $block-radius;
    overflow: hidden;
  }

  :global(.acr-select__menu-list) {
    padding: 0;
    border: none;
    overflow: hidden;
  }

  :global(.acr-select__option) {
    font-size: 0.875rem;
    font-weight: 600;
  }

  :global(.acr-select__option.acr-select__option--is-focused) {
    background-color: rgba($primary, 0.1);
  }

  :global(.acr-select__option.acr-select__option--is-selected) {
    background-color: rgba($black, 0.6);
  }

  :global(.acr-select__control) {
    background-color: $cover-7;
    border-radius: $block-radius;
    box-shadow: none;
    min-height: 46px;
    border: 1px solid $border-color;

    :global(.acr-select__indicators) {
      background-color: transparent;

      :global(.acr-select__indicator) {
        color: $black;
        transform-origin: center center;
        margin-right: 8px;
        transition: transform $transition ease;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  :global(.acr-select__indicator-separator) {
    display: none;
  }

  :global(.acr-select__control.acr-select__control--menu-is-open) {
    :global(.acr-select__indicators) {
      :global(.acr-select__indicator) {
        transform: rotate(-180deg);
      }
    }
  }
}

.label {
  background-color: $light;
  color: rgba($black, 0.4);
  border: 1px solid rgba($black, 0.25);
  display: inline-block;
  padding: 0.2rem 0.7rem;
  border-radius: 0.3rem;
  letter-spacing: 0.0075rem;
  font-weight: 600;
  font-size: 0.7875rem;
  text-transform: uppercase;
}

.transitionContainer {
  opacity: 0;
  transition: opacity $transition ease;

  &:global(.active) {
    opacity: 1;
  }
}

.labelMargin {
  margin-bottom: 0.1rem;
}

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

.listAdvHero {
  background-color: $gray-21;
  border: 1px solid $cover-14;
  box-shadow: $shadow-6;
  border-radius: 4px;
  padding: 1.6rem;
  display: inline-block;
  border-left: 8px solid $blackAdv;
  
  ul {
    list-style: none;
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: $black;

    li {
      display: flex;
      align-items: center;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;

      span {
        display: inline-block;
        color: $secondary;
        margin-left: 0.3em;
        margin-right: 0.3em;
        border-bottom: 1px dashed $secondary;
      }

      a {
        display: inline-block;
        color: inherit;
        font-weight: 600;
        margin-right: 0.5rem;
        text-decoration: none;
        background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 5px 2px;
        background-repeat: repeat-x;
        padding-bottom: 2px;
        font-family: $font-family-secondary;
      }

      &::before {
        content: "";
        width: 10px;
        height: 10px;
        margin-right: 1rem;
        background-image: url(/img/list-bullet-adv.svg);
        background-position: center center;
        background-size: 100% auto;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    padding: 0.8rem 1rem;
    ul {
      font-size: 1rem;
    }
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.listHero {
  list-style: none;
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    a {
      display: inline-block;
      color: inherit;
      font-weight: 600;
      margin-right: 0.5rem;
      text-decoration: none;
      background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
      background-position: bottom;
      background-size: 5px 2px;
      background-repeat: repeat-x;
      padding-bottom: 2px;
      font-family: $font-family-secondary;
    }

    &::before {
      content: "";
      width: 18px;
      height: 7px;
      margin-right: 1rem;
      background-image: url(/img/list-bullet-icn.svg);
      background-position: center center;
      background-size: 100% auto;
      opacity: 0.7;
    }
  }

  @include media-breakpoint-down(lg) {
    font-size: 1.0625rem;
  }
}

.labelSecondary {
  background-color: rgba($secondary, 0.1);
  color: $secondary;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  padding: 0.9rem 1rem;
  font-family: $font-family-secondary;
  font-size: 0.9375rem;
}

.labelSecondaryLight {
  background-color: $cover-16;
  color: $secondary;
  border-radius: 4px;
  border: 1px solid rgba($cover-13, 0.5);
  text-align: center;
  width: 100%;
  padding: 0.9rem 1rem;
  font-family: $font-family-secondary;
  font-size: 0.9375rem;
}

.labelError {
  background-color: rgba($error, 0.05);
  color: $error;
  border-radius: 4px;
  border: 1px solid $error;
  text-align: center;
  width: 100%;
  padding: 1.4rem 1rem;
  font-family: $font-family-secondary;
  font-size: 1.0625rem;
  box-shadow: 0px 2px 0px #eaeaea;
}

.dotBefore {
  &:before {
    content: "\2022";
    display: inline-block;
    margin: 0 10px;
    color: $primary;
  }
}

.infoIcon {
  width: 16px;
  height: auto;
}
