@import "../base/variables.scss";

.textTitle {
  color: $black;
  font-weight: 600;

  span {
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      display: block;
      width: calc(100% + 4px);
      margin-left: -4px;
      height: 10px;
      position: absolute;
      bottom: 5px;
      left: 0;
      background-color: rgba($primary, 0.3);
      z-index: -1;
    }
  }
}

.textSubTitle {
  font-size: 1.3125rem;
  line-height: 1.04;
}

.textSubTitleSecondary {
  font-size: 1.3125rem;
  font-weight: 600;
  color: $secondary;
  font-family: $font-family-base;
}

.titleHeavyMedium {
  font-family: $font-family-heavy;
  font-size: 1.1875rem;
}

.titleSmall {
  font-size: 1.1875rem;
  font-weight: 500;
}

.category {
  font-size: 1rem;
  font-weight: 500;
}

.regularD {
  font-size: 1rem;
  font-weight: 600;
}

.smallM {
  font-size: 0.875rem;
  font-weight: 500;
}

.tinyD {
  font-size: 0.8125rem;
  font-weight: 600;
}

.tinyLabel {
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $gray-10;
}

.tinyM {
  font-size: 0.8125rem;
  font-weight: 500;
}

.smallD {
  font-size: 0.875rem;
  font-weight: 600;
}

.small {
  font-size: 0.875rem;
}

.tinyMedium {
  font-weight: 500;
  font-size: 0.6875rem;
}

.tinyLab {
  font-weight: 600;
  font-size: 0.6875rem;
  color: $gray-10;
}

.header2 {
  font-size: 1.625rem;
  font-family: $font-family-base;
  font-weight: 600;
}

.header3 {
  font-size: 1.0625rem;
  font-family: $font-family-base;
  font-weight: 600;
}

.subTitle {
  color: rgba($black, 0.65);
}

.tinyLabel {
  font-size: 0.75rem;
  font-weight: 600;
  color: rgba($black, 0.4);
}

.tinyLabelM {
  font-size: 0.75rem;
  font-weight: 500;
  color: rgba($black, 0.4);
}

.stiny {
  font-size: 0.65rem;
}

.titleSmallD {
  font-size: 0.9375rem;
  font-weight: 600;
}

.subTitleD {
  font-size: 1.3125rem;
  font-weight: 600;
}

.c1 {
  color: $c1;
}
.c2 {
  color: $gray-9;
}
.c3 {
  color: $gray-10;
}
.c4 {
  color: rgba($black, 0.5);
}
.c5 {
  color: $dark-1;
}
.c6 {
  color: $secondary;
}

.textMediumReg {
  font-size: 0.9375rem;
}

.textTitleSm {
  font-size: 1.875rem;
}

.textTitleSemi {
  font-size: 1.875rem;
  font-family: $font-family-advanced;
  font-weight: 500;
}

.textTitleLg {
  font-size: 2rem;
  line-height: 1.0625em;
  font-family: $font-family-heavy;
}

.textSubMd {
  font-size: 1.125rem;
  font-weight: 500;
}

.textTiny {
  font-size: 0.625rem;
  font-weight: 600;
  color: $lgray;
}

.textSmall2 {
  font-size: 0.75rem;
  color: $lgray;
  font-weight: 500;
}

.textMedium {
  font-size: 0.9375rem;
  font-weight: 600;
}

.textTitleDemi {
  font-weight: 600;
  font-size: 1.25rem;
  font-family: $font-family-base;
}

.labelPrimaryMd {
  color: $primary;
  font-size: 1.3125rem;
  font-weight: 400;

  strong {
    font-weight: 600;
  }
}

.titlePrimaryMd {
  color: $primary;
  font-size: 1.8125rem;
  font-weight: 400;

  strong {
    font-weight: 600;
  }
}

.titleDemiWhite {
  color: $white;
  font-size: 1.6875rem;
  font-weight: 600;
}

.titleDemiWhiteSm {
  color: $white;
  font-size: 1.3125rem;
  font-weight: 600;
}

.textWhiteDemi {
  font-size: 1.125rem;
  color: $white;
  font-weight: 600;
}

.textWhiteRegular {
  font-size: 1.125rem;
  color: rgba($white, 0.8);
}

.textWhiteRegularSm {
  font-size: 1.0625rem;
  color: rgba($white, 0.8);
}

.fontBase {
  font-family: $font-family-base;
}

.textRegular20 {
  color: rgba($white, 0.8);
}

.textDemi2 {
  font-size: 2rem;
  font-weight: 600;
}

.textMediumReg {
  font-size: 0.9375rem;
}

.textMediumM {
  font-size: 0.9375rem;
  font-weight: 500;
}

.textMediumD {
  font-size: 0.9375;
  font-weight: 500;
  color: $black;
}

.textMediumLgt {
  font-size: 0.9375rem;
  color: $gray-5;
}

.textRomanSm {
  font-size: 0.875rem;
  font-weight: 500;
}

.textRomanTiny {
  font-size: 0.8rem;
  font-weight: 500;
}

.labelForm {
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba($black, 0.6);
}

@include media-breakpoint-down(lg) {
  .textSubTitle {font-size: 1.125rem;}
  .textTitleSemi {font-size: 1.5rem;}
  .textTitleLg {font-size: 1.625rem;}
  .textSubMd {font-size: 1rem;}
  .textTitleDemi {font-size: 1.15rem;}
  .textSubTitleSecondary {font-size: 1.125rem;}
  .labelPrimaryMd {font-size: 1.1875rem;}
  .textWhiteRegular{font-size: 1rem;}
  .textWhiteDemi {font-size: 1rem;}
}

@include media-breakpoint-down(md) {
  .header2 {
    font-size: 1.3125rem;
  }
  .subTitleD {
    font-size: 1.0625rem;
  }
  .textTitle {font-size: 1.9375rem;}
  .textSubTitle {font-size: 1.0625rem;}

  .textTitle {
    span {
      &::after{
        bottom: 0px;
      }
    }
  }
}
