@import "../../../styles/base/variables.scss";

.query {
  width: 100%;
  background-color: $cover-32;
  border: 1px solid $stroke-1;
  height: $btn-height-spc;
  border-radius: $btn-radius;
  display: flex;
  align-items: center;

  :global(.querySearchIcon) {
    font-size: 1rem;
    color: rgba($blackAdv, 0.65);
    margin-left: 1rem;
    opacity: 0.6;
    flex-shrink: 0;
  }

  input {
    border-color: transparent;
    background-color: transparent;
    width: 100%;
    outline: none;
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 1rem;
    font-size: 1.125rem;
    font-weight: 600;
    color: $black;

    ::placeholder{
      color: rgba($black, 0.6);
    }
  }

  @include media-breakpoint-down(lg) {
    :global(.querySearchIcon) {
      font-size: 1rem;
    }
    input {
      font-size: 1rem;
    }
  }
}

.queryRule {
  background-color: $cover-2;
  font-size: 0.8125rem;
  font-weight: 600;
  padding-left: 1rem;
  cursor: pointer;
  padding-right: 1rem;
  border-left: 1px solid $stroke-1;
  height: 100%;
  display: flex;
  align-items: center;
  color: $dark-7;
  transition: all $transition ease;

  :global(svg){
    font-size: 0.9375rem;
    margin-right: 0.5rem;
  }

  @include media-breakpoint-down(lg) {
    > span{
      display: none;
    }
  }
}

.queryInfo {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0.5rem;
  border-bottom: 2px solid $stroke-5;

  :global(svg){
    font-size: 0.6rem;
    margin: 0;
  }

  @include media-breakpoint-down(lg) {
    margin-right: 0;
  }
}