@import "../../styles/base/variables.scss";

.particles {
  position: absolute;
  width: 100%;
  height: 400px;
  left: 0;
  bottom: 200px;
  pointer-events: none;

  &:global(.light) {
    bottom: auto;
    top: 200px;
  }

  > * {
    height: 100%;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}