@import "../../styles/global/variables.scss";

.join-us {
  &-inner {
    padding: 2rem;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  &-img {
    width: 195px;
    height: auto;
  }

  &-footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include media-breakpoint-down(md) {
    &-inner {
      padding-left: 0;
      padding-right: 0;
    }
    &-footer {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
