@import "../../styles/global/variables.scss";

$menu-color: $black;
$toggle-transition: 0.2s;
$snappy: cubic-bezier(0.694, 0.048, 0.335, 1);

.header {
  width: 100%;
  height: $header-height;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  background-color: $light;
  padding: 0 2rem;
  transition: transform $transition * 3 $transition-timing;

  .logo-mobile {
    height: 28px;
    width: auto;
    display: none;
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
  }

  &.visible {
    transform: translateY(0);
  }

  &.center-logo {
    .header-animation-svg {
      transform: translateX(45px);
    }
  }

  &-animation-svg {
    transition: transform $transition * 4 ease;

    svg {
      width: auto !important;
      height: 46px !important;

      > g {
        > g {
          &:first-child {
            display: none !important;
          }
        }
      }
    }
  }

  &-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 80px;

    &.btn.btn-primary {
      color: $black;
      font-size: 1rem;
      padding-left: 1.4rem;
      padding-right: 1.4rem;
    }
  }

  .menu-toggler {
    position: absolute;
    right: $gutter;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;

    .bars {
      width: 23px;
      height: 16px;
      position: relative;
      transition: transform 0.3s $snappy;

      span {
        display: block;
        width: 100%;
        height: 2px;
        margin-top: 5px;

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background-color: $menu-color;
          transition: background-color $toggle-transition * 4 $snappy;
        }

        &:first-child {
          margin-top: 0;
          transform: scaleX(1);
          transition: transform $toggle-transition $snappy;
          transition-delay: 0.4s;
        }
        &:nth-child(2) {
          transform: scaleX(0.6);
          transform-origin: center right;
          transition: transform $toggle-transition $snappy;
          transition-delay: 0.4s;
        }
        &:nth-child(3) {
          transform: scaleX(0.6);
          transform-origin: center right;
          transition: width $toggle-transition $snappy;
          transition-delay: 0.4s;
        }
      }
      .other-bar {
        width: 2px;
        height: 0;
        position: absolute;
        top: -4px;
        left: 50%;
        margin-left: -1px;
        transition: height 0.4s $snappy;
        z-index: 10;

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background-color: $gray-4;
          transition: background-color $toggle-transition * 4 $snappy;
        }
      }
    }
    &.is-menu-open {
      .bars {
        transform: rotate(45deg);
        transition-delay: 0.4s;
        span {
          &::after {
            background-color: $gray-4;
          }
          &:first-child {
            transform: scaleX(0);
            transition: transform $toggle-transition $snappy;
          }
          &:nth-child(3) {
            width: 0;
            transition: width $toggle-transition $snappy;
          }
          &:nth-child(2) {
            transform: scaleX(1);
          }
        }
        .other-bar {
          height: 23px;
          transition: height $toggle-transition $snappy;
          transition-delay: 0.3s;

          &::after {
            background-color: $gray-4;
          }
        }
      }
    }
  }

  .menu-container {
    position: absolute;
    right: 0;
    top: 0;
    background-color: $black;
    padding: $gutter;
    padding-top: 0;
    min-width: 320px;
    z-index: 1;
    transform: translateX(100%);
    transition: transform $transition * 3 $transition-timing;

    &-title {
      display: flex;
      align-items: center;
      height: $header-height;
      border-bottom: 1px solid rgba($gray, 0.07);
    }

    &-stores {
      height: $header-height;
      border-bottom: 1px solid rgba($gray, 0.07);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-links {
      > * {
        margin: 0.5rem 0;
        display: flex;
        align-items: center;
      }

      span {
        color: rgba($light, 0.3);
        margin: 0 0.5rem;
        display: inline-block;
        transform: translateY(1px);
      }
      a {
        color: $light;
        text-decoration: none;
        font-weight: 500;
        font-size: 0.9375rem;
        transition: color $transition ease;

        &:hover {
          text-decoration: none;
          color: $primary;
        }
      }
    }

    &-top {
      position: relative;
      z-index: 2;
    }

    &-bottom {
      position: relative;
      z-index: 2;
      border-top: 1px solid rgba($gray, 0.07);
    }

    &-socials {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 1rem 0;

      a {
        margin-right: 1.6rem;
        font-size: 1.4rem;
        color: $black-cover;
        transition: all $transition ease;

        &:hover {
          color: $white;
          opacity: 1;
        }
      }
    }

    &.active {
      transform: translateX(0);
    }

    ul {
      padding: 0.5rem 0;
      margin: 0;
      list-style: none;

      li {
        padding: 0;
        margin: 0;

        a {
          color: $light;
          text-decoration: none;
          font-size: 1.625rem;
          font-weight: 500;
          padding: 1rem 0;
          display: block;
          transition: color $transition ease;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    height: $header-height-md;
    padding: 0 1rem;

    .menu-container {
      &-title {
        height: $header-height-md;
      }
    }

    &-animation-svg {
      svg {
        height: 31px !important;
      }
    }

    &.center-logo {
      .header-animation-svg {
        transform: translateX(30px);
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &-button {
      &.btn {
        display: none;
      }
    }
    .menu-container {
      width: 100vw;
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &::after{
        content: '';
        width: 100%;
        height: 200vh;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        background-color: $black;
        z-index: 1;
      }

      ul {
        li {
          a {
            padding: 0.8rem 0;
          }
        }
      }
    }

    .logo-mobile {
      display: block;
    }
  }
}
