* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: auto;
}

body .scrollbar-track {
  background-color: transparent;
  z-index: 11;
}

body .scrollbar-track.scrollbar-track-x {
  display: none !important;
}

body .scrollbar-thumb {
  width: 3px;
  left: 2px;
  background-color: $primary;
}

body .scroll-content {
  > * {
    position: relative;
    overflow: hidden;
  }
}

.ace_scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
}

.ace_scrollbar::-webkit-scrollbar
{
	width: 8px;
}

.ace_scrollbar::-webkit-scrollbar-thumb
{
	background-color: rgba(0,0,0,0.3);
}


.cursor-pointer {
  cursor: pointer;
}

.lh-1 {
  line-height: 1;
}

.mw-100 {
  max-width: 100px !important;
}
.mw-200 {
  max-width: 200px !important;
}
.mw-300 {
  max-width: 300px !important;
}
.mw-400 {
  max-width: 400px !important;
}
.mw-410 {
  max-width: 410px !important;
}
.mw-450 {
  max-width: 450px !important;
}
.mw-500 {
  max-width: 500px !important;
}
.mw-550 {
  max-width: 550px !important;
}
.mw-520 {
  max-width: 520px !important;
}
.mw-600 {
  max-width: 600px !important;
}
.mw-650 {
  max-width: 650px !important;
}
.mw-700 {
  max-width: 700px !important;
}
.mw-800 {
  max-width: 800px !important;
}
.mw-900 {
  max-width: 900px !important;
}
.mw-1000 {
  max-width: 1000px !important;
}

.border-bottom-half {
  &::after {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background-color: $border-color;
  }
}

.border-bottom-half {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 1px;
    background-color: $border-color;
  }
}

.border-bottom-half-mobile {
  position: relative;

  &::after {
    content: "";
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 1px;
    background-color: $border-color;
  }

  @include media-breakpoint-down(md) {
    &::after {
      display: block;
    }
  }
}

.mb-s {
  margin-bottom: $section-spacer;

  @include media-breakpoint-down(md) {
    margin-bottom: $section-spacer/2;
  }
}

.mt-s {
  margin-top: $section-spacer;

  @include media-breakpoint-down(md) {
    margin-top: $section-spacer/2;
  }
}

.pb-s {
  padding-bottom: $section-spacer;

  @include media-breakpoint-down(md) {
    padding-bottom: $section-spacer/2;
  }
}

.pt-s {
  padding-top: $section-spacer;

  @include media-breakpoint-down(md) {
    padding-top: $section-spacer/2;
  }
}

.list-outline {
  list-style: none;
  font-weight: 500;
  font-size: 0.9375rem;
  padding-left: 0;

  a {
    color: $secondary;
    text-decoration: none;
    transition: color $transition ease;
    font-family: $font-family-heavy;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }

  li {
    padding: 0.4rem 0;
    padding-left: 1.4rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  li::before {
    content: '';
    width: 12px;
    border-radius: 50%;
    height: 12px;
    border: 1px solid $black;
    position: absolute;
    left: 0;
    color: $primary;
  }
}

.list-plan {
  list-style: none;
  font-weight: 500;
  font-size: 0.9375rem;
  padding-left: 0;

  a {
    color: $secondary;
    text-decoration: none;
    transition: color $transition ease;
    font-family: $font-family-heavy;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }

  li {
    padding: 0.4rem 0;
    padding-left: 1.4rem;
    position: relative;
  }
  li::before {
    content: "•";
    font-size: 1.2rem;
    transform: translateY(-0.1rem);
    position: absolute;
    left: 0;
    color: $primary;
  }

  &.gray {
    li::before {
      color: $gray-14;
    }
  }
  &.dark {
    li::before {
      color: $gray-15;
    }
  }
  &.secondary {
    li::before {
      color: $secondary;
    }
  }
  &.primary {
    li::before {
      color: $primary;
    }
  }
}

.list-gray {
  list-style: none;
  font-weight: 500;
  font-size: 0.875rem;
  padding-left: 0;

  li {
    padding: 0.2rem 0;
    padding-left: 1.4rem;
    position: relative;
  }
  li::before {
    content: "•";
    font-size: 1rem;
    transform: translateY(-0.1rem);
    position: absolute;
    left: 0;
    flex-shrink: 0;
    color: rgba($gray-17, 0.5);
  }
}

.op-05 {
  opacity: 0.5;
}

.custom-checkbox-light.custom-radio {
  min-height: 2rem;
  display: flex;
  align-items: center;

  .custom-control-input {
    height: 2rem;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    color: $secondary;
    background-color: $white;
    border-color: $secondary;
  }

  .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='%23227C9D'/%3e%3c/svg%3e");
  }

  label {
    font-size: 0.875rem;
    font-weight: 500;
  }
}

.mb-g {
  margin-bottom: $gutter;
}

.badge {
  font-family: $font-family-secondary;
  font-weight: 600;

  &.badge-cover {
    color: $black;
  }
}

form.white {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: $dark;
    -webkit-box-shadow: 0 0 0px 1000px $white inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: $dark;
  -webkit-box-shadow: 0 0 0px 1000px $primary-cover inset;
  transition: background-color 5000s ease-in-out 0s;
}

.content {
  a {
    font-family: $font-family-heavy;
    text-decoration: none;
    transition: color $transition ease;
    font-size: 0.9375rem;

    &:hover {
      color: $dark;
    }
  }

  p {
    font-size: 0.9375rem;
  }
}

.list-primary {
  list-style: none;
  font-weight: 500;
  font-size: 0.9375rem;

  a {
    color: $secondary;
    text-decoration: none;
    transition: color $transition ease;
    font-family: $font-family-heavy;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }

  li {
    padding: 0.4rem 0;
    padding-left: 1.4rem;
    position: relative;
  }
  li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: $primary;
  }
}