body .scrollbar-track {
  background-color: transparent;
  z-index: 11;
}

body .scrollbar-track.scrollbar-track-x {
  display: none !important;
}

body .scrollbar-thumb {
  width: 4px;
  left: 2px;
  background-color: $black;
}

body .scroll-content {
  > * {
    position: relative;
    overflow: hidden;
  }
}

.ace_scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
}

.ace_scrollbar::-webkit-scrollbar
{
	width: 8px;
}

.ace_scrollbar::-webkit-scrollbar-thumb
{
	background-color: rgba(0,0,0,0.3);
}


.cursor-pointer {
  cursor: pointer;
}

.lh-1 {
  line-height: 1;
}

.mw-300 {
  max-width: 300px;
}
.mw-400 {
  max-width: 400px;
}
.mw-450 {
  max-width: 450px;
}
.mw-600 {
  max-width: 600px;
}
.mw-650 {
  max-width: 650px;
}
.mw-800 {
  max-width: 800px;
}

.border-bottom-half {
  &::after {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background-color: $border-color;
  }
}

.border-bottom-half {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 1px;
    background-color: $border-color;
  }
}

.border-bottom-half-mobile {
  position: relative;

  &::after {
    content: "";
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 1px;
    background-color: $border-color;
  }

  @include media-breakpoint-down(md) {
    &::after {
      display: block;
    }
  }
}

.mb-s {
  margin-bottom: $section-spacer;

  @include media-breakpoint-down(md) {
    margin-bottom: $section-spacer/2;
  }
}

.mt-s {
  margin-top: $section-spacer;

  @include media-breakpoint-down(md) {
    margin-top: $section-spacer/2;
  }
}

.pb-s {
  padding-bottom: $section-spacer;

  @include media-breakpoint-down(md) {
    padding-bottom: $section-spacer/2;
  }
}

.pt-s {
  padding-top: $section-spacer;

  @include media-breakpoint-down(md) {
    padding-top: $section-spacer/2;
  }
}
