@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$primary:                   #F9C035;
$primarySpc:                #BB9027;
$primary-cover:             #FDFBF5;
$secondary:                 #227C9D;
$secondary-adv:             #196079;
$white:                     #ffffff;
$black:                     #272727;
$blackAdv:                  #121212;
$black-cover:               #6B6B6B;
$secondary-cover:           #EFEADE;
$gray:                      #E2E2E2;
$color-dark:                #1a1a1a;
$light:                     #FDF9ED;
$info:                      #D2CEC4;
$lgray:                     #999999;
$cover-primary:             #FCF8EB;
$primary-cover-2:           #FFF9E0;
$gray-2:                    #D3D3D3;
$gray-3:                    #D8D8D8;
$gray-4:                    #979797;
$gray-5:                    #818181;
$pink:                      #FEEBE7;
$dark-1:                    #3A3A3A;
$dark-2:                    #423E37;
$cover-blue:                #EBF4F6;
$dark-3:                    #6F6F6F;
$dark-4:                    #D6D3CE;
$dark-5:                    #191919;
$dark-6:                    #212121;
$dark-7:                    #474644;
$dark-8:                    #6F6E69;
$gray-6:                    #848484;
$gray-7:                    #7A7A7A;
$gray-8:                    #CCCCCC;
$gray-9:                    #C0BDB6;
$gray-10:                   #868686;
$gray-11:                   #E9E5DA;
$gray-12:                   #BFBFBF;
$gray-13:                   #EAEAEA;
$gray-14:                   #6E6E6E;
$gray-15:                   #4C4C4C;
$gray-16:                   #525252;
$gray-17:                   #535353;
$gray-18:                   #ECE9E0;
$gray-19:                   #67655D;
$gray-20:                   #EBE7D8;
$gray-21:                   #F6F1E3;
$gray-22:                   #919191;
$gray-23:                   #B0B0B0;
$gray-24:                   #828282;
$grey-25:                   #6E6D68;
$primary-strong:            #E7AD00;
$c1:                        #716F6B;
$cover-2:                   #FDF8EB;
$succes:                    #87de87;
$cover:                     #F5F3E9;
$dark-1:                    #5C5C5C;
$dark-3:                    #4D4D4D;
$advanced:                  #E6AC00;
$cover-3:                   #f7ecf3;
$cover-4:                   #fdf8ea;
$cover-5:                   #D6D6D5;
$cover-6:                   #FDF8EA;
$cover-7:                   #EDFAFF;
$cover-8:                   #F7F1E2;
$cover-9:                   #FBE7B5;
$cover-10:                  #EAE5CF;
$gray-adv:                  #e4e8eb;
$cover-11:                  #d2cec4;
$cover-12:                  #E7ECE4;
$cover-13:                  #DADADA;
$cover-14:                  #EDE9D7;
$cover-15:                  #E4E0D4;
$cover-16:                  #F4FAFD;
$cover-17:                  #F2EDE1;
$cover-18:                  #f1f4f8;
$cover-19:                  #F9F4E7;
$cover-20:                  #F8F2E5;
$cover-21:                  #EAE4D5;
$cover-22:                  #FFFBF1;
$cover-23:                  #FFF7E4;
$cover-24:                  #F6F1E2;
$cover-25:                  #EFF3F4;
$cover-26:                  #FFFDF8;
$cover-27:                  #DED8CB;
$cover-28:                  #FFF7DE;
$cover-29:                  #EFF1ED;
$cover-30:                  #DCD9D2;
$error:                     #FC5424;
$stroke-1:                  #F1ECDE;
$stroke-2:                  #EDE8DB;
$stroke-3:                  #D8D5CB;
$stroke-4:                  #E1DCCE;
$stroke-5:                  #E6E4DD;
$stroke-6:                  #DEDBCC;
$fblack:                    #000000;

$theme-colors: ();

$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "light":      $light,
    "info":       $info,
    "error":      $error,
    "cover":      rgba($black, 0.08),
  ),
  $theme-colors
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 820px,
  xl: 1280px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 880px,
  xl: 1340px
);

$small-container:             1080px;
$extra-small-container:       880px;

$body-bg:                     $light;
$body-color:                  $black;
$border-color:                $gray;
$border-color-2:              $dark-4;

$header-height:               82px;
$header-height-md:            60px;
$header-height-adv-md:        70px;

$sidebar-width:               200px;

$transition:                  300ms;

$font-family-base:            'Avenir Next', verdana;
$font-family-secondary:       'Avenir Next Demi', verdana;
$font-family-advanced:        'Playfair Display', verdana;
$font-family-heavy:           'Avenir Heavy', verdana;

$headings-font-family:        $font-family-base;
$headings-font-weight:        600;
$headings-color:              $black;
$line-height:                 1.5;
$line-height-base:            1.33;

$headings-line-height:        1.2;
$font-size-base:              1rem;

$h1-font-size:                $font-size-base * 3;
$h2-font-size:                $font-size-base * 2.5;
$h3-font-size:                $font-size-base * 2;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

$badge-font-size:             0.875rem;
$badge-font-weight:           $font-weight-bold;
$badge-padding-y:             .5em;
$badge-padding-x:             .9em;
$badge-border-radius:         20px;

$badge-transition:            $btn-transition !default;
$badge-focus-width:           $input-btn-focus-width !default;

$section-spacer:              60px;
$section-spacer-lg:           100px;

$content-padding:             1.4rem;

$btn-padding-y:               0;
$btn-line-height:             2.75rem;

$btn-border-radius:           5rem;

$gutter:                      30px;

$project-gutter:              10px;

$transition-timing:           cubic-bezier(.76,0,.175,1);

$project-preview:             50vw;

$tooltip-font-size:             0.875rem;
$tooltip-bg:                    rgba($blackAdv, 0.95);
$tooltip-border-radius:         4px;
$tooltip-arrow-color:           $tooltip-bg;
$tooltip-padding-y:             1rem;
$tooltip-padding-x:             1.6rem;
$tooltip-margin:                0 0.5rem;
$tooltip-color:                 $white;
$tooltip-arrow-width:           .8rem;

$input-height:                  45px;
$input-border-radius:           25px;
$input-padding:                 0 2rem;

$btn-height-tn:                 33px;
$btn-height-small:              42px;
$btn-height-sm:                 46px;
$btn-height-spc:                48px;
$btn-height:                    55px;
$btn-height-large:              64px;
$btn-height-large-md:           48px;
$btn-padding:                   0 2.4rem;
$btn-radius:                    4px;
$btn-fsize:                     1.25rem;
$btn-fsize-large:               1.3125rem;
$btn-fsize-large-md:            1.1875rem;
$btn-fsize-small:               1.125rem;

$block-radius:                  5px;
$block-shadow-1:                0px 2px 4px rgba(237, 235, 232, 0.5);
$block-shadow-2:                0px 4px 8px rgba(0, 0, 0, 0.05);
$shadow-2:                      0px 2px 0px #EAEAEA;
$shadow-3:                      0px -12px 20px rgba(0, 0, 0, 0.10383);
$shadow-4:                      0px 6px 10px rgba(0, 0, 0, 0.10383);
$shadow-5:                      0px 0px 30px 4px rgba(0, 0, 0, 0.3);
$shadow-6:                      0px 2px 0px #F3F0E6;
$shadow-7:                      0px 0px 18px 2px rgba(0, 0, 0, 0.04);
$shadow-8:                      0px 2px 8px 3px rgba(18, 18, 18, 0.25);
$shadow-9:                      0px 0px 9px rgba(0, 0, 0, 0.054469), 0px 4px 14px 10px rgba(0, 0, 0, 0.1), inset 0px -3px 0px #272727;
$shadow-10:                     0px 1px 0px #ECE9E2;
$spacer-mobile:                 5px;

$link-color:                              $secondary;
$link-decoration:                         none;
$link-hover-color:                        $secondary;
$link-hover-decoration:                   underline;

$border-radius:                           8px;

$custom-checkbox-indicator-border-radius: $border-radius;
$custom-control-indicator-bg: $white;
$custom-control-indicator-border-color: $border-color;
$custom-control-cursor: pointer;

$custom-control-indicator-checked-color: $white;
$custom-checkbox-indicator-icon-checked: url("data:image/svg+xml,<svg width='13' height='10' viewBox='0 0 13 10' xmlns='http://www.w3.org/2000/svg'><path d='M11.0317 0.293607C11.3298 -0.057066 11.8557 -0.0997066 12.2064 0.198365C12.557 0.496437 12.5997 1.02235 12.3016 1.37302L5.21826 9.70636C4.91551 10.0625 4.37906 10.1001 4.02968 9.78949L0.279673 6.45616C-0.0643129 6.15039 -0.0952969 5.62367 0.210468 5.27968C0.516233 4.93569 1.04296 4.90471 1.38695 5.21048L4.50016 7.97777L11.0317 0.293607Z' fill='#{$custom-control-indicator-checked-color}'/></svg>");
$custom-control-indicator-bg-size: 65% 65%;

$custom-control-gutter: 0.5rem;

$custom-control-indicator-checked-bg: $secondary;
$custom-control-indicator-checked-border-color: $secondary;

$custom-control-indicator-size: 2rem;
$custom-switch-width: $custom-control-indicator-size * 1.75;
$custom-switch-indicator-border-radius: $custom-control-indicator-size / 2;
$custom-switch-indicator-size: subtract(
  $custom-control-indicator-size,
  $custom-control-indicator-border-width * 4
);

$sidebar-width:                   240px;