@import "../../styles/global/variables.scss";

.contact-viewer {
  padding-bottom: $section-spacer;

   &-inner {
    border-top: 1px solid $border-color;
    padding-top: 2rem;
  }

  .list-primary {
    padding-left: 1rem;
    font-weight: 500;
    font-size: 0.9375rem;
  }
}
