@import "../../styles/base/variables.scss";

.blogAuthor {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-bottom: 0.8rem;

  :global(.blog-author-img) {
    width: 30px;
    height: 30px;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.5rem;
  }

  @include media-breakpoint-down(md) {
    font-size: 0.9375rem;
  }
}

.blogTags {
  padding-top: 2rem;

  :global(.blog-tags-inner) {
    display: flex;
    flex-wrap: wrap;

    > * {
      margin-bottom: 0.5rem;
      cursor: pointer;
      transition: all $transition ease;

      &:hover {
        background-color: rgba($secondary, 0.10);
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding-top: 1.5rem;
  }
}

.blogShareFluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: -100px;
  transition: transform 500ms ease;

  a {
    font-size: 1.25rem;
    color: $dark-7;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.4rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    background-color: $gray-21;
    border: 1px solid $stroke-1;
    transition: opacity $transition ease;

    &:hover {
      opacity: 0.6;
    }
  }

  @include media-breakpoint-down(lg) {
    left: -60px;

    a {
      width: 46px;
      height: 46px;
      font-size: 1rem;
    }
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.blogShare {
  padding: 1.6rem 0;
  display: flex;
  justify-content: center;

  a {
    font-size: 1.25rem;
    color: $dark-7;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.4rem;
    border-radius: 50%;
    background-color: $gray-21;
    border: 1px solid $stroke-1;
    transition: opacity $transition ease;

    &:hover {
      opacity: 0.6;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.blogShareInner {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.blogArticle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding: 3rem;
  border: 1px solid $stroke-1;
  background-color: $cover-26;

  :global(.blog-article__title-wrapper) {
    max-width: 450px;
    padding-right: 20px;
    width: 100%;
  }

  :global(.blog-article__title) {
    font-weight: 800;
    font-size: 2.125rem;
    line-height: 1.3;
    color: $blackAdv;
    cursor: pointer;
    transition: color $transition ease;

    &:hover {
      color: $secondary;
    }
  }

  :global(.blog-article__description) {
    font-size: 1.0625rem;
    color: $dark-7;
    font-weight: 600;
  }

  :global(.blog-article__cover) {
    width: 360px;
    cursor: pointer;
  }

  :global(.blog-article__date) {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    > * {
      line-height: 1;
    }
  }

  @include media-breakpoint-down(sm) {
    :global(.blog-article__title-wrapper) {
      max-width: 100%;
      padding: 1rem;
    }

    :global(.blog-article__cover-wrapper) {
      width: 100%;
      margin-bottom: 15px;
    }

    :global(.blog-article__cover) {
      width: 100%;
    }

    :global(.blog-article__date) {
      margin-bottom: 10px;
    }

    :global(.blog-article__description) {
      font-size: 0.9375rem;
      margin-bottom: 0.5rem;
    }

    :global(.blog-article__title) {
      font-size: 1.875rem;
    }
  }

  @include media-breakpoint-down(sm) {
    width: calc(100% + #{$gutter});
    margin-left: -$gutter/2;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 0;
  }
}

.blogArticleIcon {
  color: $grey-25;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.blogArticleRect {
  font-size: 0.5rem;
  color: $grey-25;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.blogTagsList {
  display: flex;
  align-items: center;
}

.blogTag {
  background-color: $cover-25;
  color: $secondary;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  font-weight: 600;
  margin-top: 0.5rem;

  @include media-breakpoint-down(sm) {
    font-size: 0.8125rem;
    padding: 0.3rem 0.5rem;

    &:global(.large) {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }
  }
}
