@import "../../styles/base/variables.scss";

$ldSpacer: 2rem;

.preview {
}

.previewRowDate {
  display: flex;
  align-items: center;
}

.previewTopHit {
  background-color: $blackAdv;
  color: $white;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
}

.previewDate {
  font-size: 0.875rem;
  font-weight: 600;
  color: rgba($white, 0.6);
  margin-left: 1rem;
}

.previewImg {
  width: 60px;
  height: 45px;
  margin-right: 1rem;
  margin-top: 3px;

  img {
    object-fit: cover;
  }
}

.previewRowTitle {
  display: flex;
  margin-top: 0.25rem;
  margin-bottom: 0.3rem;
  justify-content: space-between;
}

.previewTitle {
  h3 {
    font-size: 1.0625rem;
    color: $gray-8;
    font-weight: 600;
    margin-bottom: 0;
  }

  span {
    font-weight: 500;
    font-size: 0.8125rem;
    color: $gray-22;
    display: block;
  }
}

.previewRowSource {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.previewSourceLink {
  display: flex;
  align-items: center;
  font-size: 0.9375rem;
  font-weight: 600;
  margin-right: 1rem;

  img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 0.25rem;
  }

  a {
    color: $gray-8;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: opacity $transition ease;

    svg {
      width: 14px;
      height: auto;
      margin-left: 0.25rem;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}

.previewAuthor {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 600;

  img {
    width: 16px;
    height: 16px;
    margin-right: 0.25rem;
  }

  span {
    color: $gray-23;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
}

.previewRowTags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.previewTag {
  background-color: $blackAdv;
  color: $gray-8;
  font-size: 0.9375rem;
  font-weight: 600;
  padding: 0.25rem 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.previewRowCharacters2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  color: $gray-22;
  font-size: 0.9375rem;
  font-weight: 500;

  > div {
    display: flex;
    align-items: center;

    > * {
      margin-right: 0.5rem;
    }
  }

  @include media-breakpoint-down(sm) {
    font-size: 0.8rem;
  }
}

.previewRowCharacters {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  color: $gray-22;
  font-size: 0.9375rem;
  font-weight: 500;

  > * {
    margin-right: 0.5rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 0.8rem;
  }
}

.previewCharactersIcon {
  background-color: $blackAdv;
  color: $cover-2;
  padding: 0 2px;
  font-size: 0.8rem;
}

.previewCharactersStrong {
  font-weight: 600;
  color: $gray-22;

  &:global(.negative) {
    color: $error-light;
  }
  &:global(.positive) {
    color: $secondary-t;
  }
}

.previewDateDemo {
  white-space: nowrap;
  font-size: 0.875rem;
  font-weight: 600;
  color: rgba($white, 0.6);
  margin-right: 0.5rem;
}

.previewDemo {
  border-radius: 3px;
  background-color: $blackAdv;
  padding: 1.4rem;

  @include media-breakpoint-down(sm) {
    border-radius: 0;
    border-bottom: 1px solid $fblack;
  }
}

.previewTitleDemo {
  h3 {
    font-size: 1rem;
    color: $primary;
    font-weight: 600;
    margin-bottom: 0;
  }

  span {
    font-weight: 500;
    font-size: 0.8125rem;
    color: $gray-22;
    display: block;
  }
}

.previewDemoContent {
  color: $gray-23;
  margin-top: 3px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 0.8125rem;
}

.previewImgDemo {
  width: 60px;
  height: 45px;
  margin-left: 1rem;

  img {
    object-fit: cover;
  }
}

.previewSourceLinkDemo {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 600;
  margin-right: 1rem;

  img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 0.25rem;
  }

  a {
    color: $white;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: opacity $transition ease;

    svg {
      width: 14px;
      height: auto;
      margin-left: 0.25rem;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}

.previewTagDemo {
  position: relative;
  display: flex;
  align-items: center;

  > span {
    background-color: $black;
    border: 1px solid $black;
    color: $cover-31;
    font-size: 0.5468rem;
    font-weight: 600;
    white-space: nowrap;
    text-transform: uppercase;
    user-select: none;
    letter-spacing: 0.1em;
    padding: 0.20rem 0.5rem;
    margin-right: 0.25rem;
    border-radius: 3px;
    cursor: pointer;
    transition: all $transition ease;
  }

  &:global(.active) {
    > span {
      background-color: transparent;
      color: $cover-2;
      border-color: $stroke-8;
    }
  }
}

.previewRowTagsDemo {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.previewRowTagsDemoInner {
  display: flex;
  align-items: center;
  width: 100%;
}

.previewRowDateDemo {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  position: relative;

  > div {
    width: 155px;

    &:last-child {
      width: calc(100% - 155px);
    }
  }
}

.previewFeedback {
  font-size: 1rem;
  display: flex;
  align-items: center;

  &:global(.positive) {
    color: $secondary;
  }

  &:global(.negative) {
    color: $error;
  }
}

.previewLabelDemo {
  position: relative;

  > span {
    border: 1px solid $primary;
    background-color: $primary;
    padding: 0 0.5rem;
    border-radius: 3px;
    color: $blackAdv;
    font-size: 0.5625rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    line-height: 19px;
    height: 19px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-right: 5px;
    cursor: pointer;

    &:global(.active) {
      background-color: transparent;
      color: $cover-2;
      border-color: $stroke-8;
    }
  }
}

.previewDemoSkeleton {
  border-radius: 3px;
  background-color: $black;
  padding: 1.4rem;
}

.previewVideo {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 0.25rem;

  > span {
    font-weight: 600;
    color: $cover-2;
    cursor: pointer;
    transition: color $transition ease;

    svg {
      cursor: pointer;
      color: $cover-2;
      font-size: 1.125rem;
      margin-right: 0.4rem;
    }
  }
}
