@import "../../../styles/base/variables.scss";

.input {
  position: relative;

  input,
  textarea {
    background-color: $white;
    border: none;
    border-radius: $block-radius;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: $black;
    outline: none;
    border: 1px solid $border-color;
    height: $btn-height-sm;
    display: flex;
    align-items: center;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 40px $white inset !important;
      border: 1px solid $border-color;
    }

    &::placeholder {
      font-size: 1rem;
      font-weight: 500;
      color: rgba($black, 0.5);
    }
  }

  &:global(.flat) {
    input,
    textarea {
      border-radius: $btn-radius;
    }
  }

  &:global(.flat-adv) {
    span {
      font-size: 0.9375rem;
      font-weight: 500;
      text-transform: capitalize;
      color: rgba($blackAdv, 0.65);
      margin-bottom: 0.2rem;
      display: block;
    }

    input,
    textarea {
      border-radius: $btn-radius;
      border: 1px solid $stroke-1;
      box-shadow: $shadow-10;
      color: $blackAdv;
      font-weight: 600;

      &::placeholder {
        color: rgba($blackAdv, 0.4);
      }
    }
  }

  input {
    padding: 0 1rem;
  }

  textarea {
    height: 100%;
    padding: 1rem;
    border-radius: $block-radius;
  }

  &:global(.form) {
    input {
      padding-left: 1rem;

      &::placeholder {
        color: rgba($black, 0.6);
      }
    }
  }

  &:global(.focus) {
  }

  &:global(.valid) {
    &::after {
      transform: scaleX(1);
      background-color: $success;
    }
  }

  &:global(.not-valid) {
    input {
      border-color: $danger;
    }
  }

  :global(.invalid-feedback) {
    position: absolute;
    bottom: -14px;
    left: 1rem;
    color: $danger;
    font-size: 0.75rem;
    width: 100%;
  }

  @include media-breakpoint-down(lg) {
  }

  @include media-breakpoint-down(md) {
  }
}

.inputLabel {
  margin-bottom: 0.1rem;
}

.inputPreview {
  position: relative;

  :global(.inputInner) {
    background-color: $cover-9;
    border: none;
    border-radius: 25px;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: $black;
    outline: none;
    padding: 0 1rem;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid $cover-9;
    height: $btn-height-sm;
    display: flex;
    align-items: center;
    font-weight: 600;

    &::placeholder {
      font-size: 1rem;
      font-weight: 600;
      color: rgba($black, 0.5);
    }
  }

  :global(.inputLight) {
    font-weight: 300;
  }

  &:global(.flat) {
    :global(.inputInner) {
      border-radius: $block-radius/2;
    }
  }

  &:global(.flat-light) {
    :global(.inputInner) {
      border-radius: $block-radius/2;
      background-color: $cover-16;
      border-color: $info;
      color: $secondary;
    }
  }

  &:global(.form) {
    :global(.inputInner) {
      padding-left: 1rem;

      &::placeholder {
        color: rgba($black, 0.6);
      }
    }
  }
}