@import "../../styles/global/variables.scss";

.blog-author {

  @include media-breakpoint-down(md) {

  }
}

.blog-tags {
  padding: 2rem 0;
  
  &-inner {
    display: flex;
    flex-wrap: wrap;

    >* {
      margin-bottom: 0.5rem;
    }
  }

  @include media-breakpoint-down(md) {
    &-inner {
      flex-direction: column;
    }
  }
}

.blog-share {
  padding: 2rem 0;
  display: flex;
  justify-content: flex-end;

  > div {
    display: inline-block;
  }

  a {
    font-size: 1.425rem;
    color: $black;
    margin-left: 0.8rem;
    transition: opacity $transition ease;

    &:hover {
      opacity: 0.6;
    }
    
    &:first-child {
      margin-left: 0;
    }
  }

  &-inner {
    display: inline-flex;
  }

  @include media-breakpoint-down(md) {
    padding-top: 0;
    justify-content: flex-start;
  }
}