@import "../../styles/base/variables.scss";

.accountBilling {
  width: 100%;
  max-width: 650px;
  padding: 0 $gutter/2;
  padding-bottom: $section-spacer;
  margin: 0 auto;

  @include media-breakpoint-down(md) {

  }
}

.stylesRadio {
  background-color: $white;
  padding: 1rem;
  justify-content: space-between;
  border-radius: $block-radius/2;
  border: 1px solid $border-color;
  transition: background-color $transition ease;

  &:global(.active){
    background-color: $cover-7;
  }
}

.stylesRadioInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.badge {
  background-color: $primary;
  padding: 0.3rem 0.6rem;
  font-size: 0.8125rem;
  font-weight: 600;
  display: inline-flex;
  border-radius: 2px;
}

.accountLock {
  font-size: 0.875rem;
  opacity: 0.5;
  margin-right: 0.5rem;
  flex-shrink: 0;
}

.bilingTitles {
  display: flex;
  align-items: center;

  svg {
    color: $black;
    opacity: 0.5;
    font-size: 1.125rem;
  }
}

.cardLabel {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  >div {
    display: flex;
    align-items: center;
    
    &:last-child{
      margin-bottom: 0.3rem;
    }

    img {
      height: 1.3125rem;
      width: auto;
      margin-left: 0.5rem;
    }
  }
}