@import "../../styles/base/variables.scss";

$blog-spacer: 1.6rem;
$blog-container-spacer: 2rem;
$post-container-width: 930px;
$post-width: 627px;
$post-gutter: 80px;

.postContainer {
  max-width: $post-container-width;
  margin: 0 auto;
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}

.postContent {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  > div {
    &:first-child{
      width: $post-width;
    }

    &:last-child{
      width: $post-container-width - $post-width - $post-gutter;
    }
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;

    > div {
      &:first-child{
        width: 100%;
      }
  
      &:last-child{
        width: 100%;
      }
    }
  }
}

.post {
  padding-bottom: 4rem;

  @include media-breakpoint-down(md) {
    padding-bottom: 2rem;
  }
}

.postDate {
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  > * {
    line-height: 1;
  }
}

.postTitle {
  font-weight: 800;
  font-size: 2.875rem;
  line-height: 1.3;
  color: $blackAdv;

  @include media-breakpoint-down(md) {
    font-size: 1.875rem;
  }
}

.blogContent {
  padding-top: 1rem;
  border-bottom: 1px solid $border-color;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.5rem;

  a {
    color: $secondary;
    font-weight: 600;
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  :global(.btn){
    background-color: $primary;
    border: 1px solid $primary;
    display: inline-flex;
    color: $white;
    font-weight: 500;
    font-size: 1.0625rem;
    padding: 0.8rem 1.4rem;
    border-radius: 3px;
    text-decoration: none;
    transition: all $transition ease;

    &:hover {
      background-color: transparent;
      color: $primary;
      text-decoration: none;
    }

    &:global(.btn-secondary){
      background-color: $secondary;
      border-color: $secondary;

      &:hover {
        background-color: transparent;
        color: $secondary;
      }
    }

    &:global(.btn-light){
      background-color: $gray-21;
      border-color: $gray-21;
      color: $black;

      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }

  code {
    display: block;
    background-color: $gray-21;
    padding: 1rem 2rem;
    border-left: 4px solid $stroke-1;
    width: calc(100% - 40px);
    margin-left: 40px;
    color: $black;
    white-space: pre;

    @include media-breakpoint-down(md) {
      margin-left: 0;
      width: 100%;
    }
  }

  blockquote {
    background-color: $cover-28;
    padding: 1rem 2rem;
    border-left: 4px solid rgba($primary, 0.2);
    width: calc(100% - 40px);
    margin-left: 40px;
    color: $black;

    &:global(.secondary){
      background-color: $cover-29;
      border-color: rgba($secondary, 0.2);
    }

    &:global(.light){
      background-color: $white;
      border-color: $cover-30;
    }

    &:global(.transparent){
      background-color: transparent;
      border-color: $primary;
    }

    @include media-breakpoint-down(md) {
      margin-left: 0;
      width: 100%;
    }
  }

  label {
    background-color: $dark-7;
    color: $cover-2;
    padding: 0.25rem 0.8rem;
    border-radius: 2px;
    font-size: 0.8125rem;
    font-weight: 600;
  }

  ul {
    list-style: none;
    font-weight: 500;
    font-size: 1.0625rem;
    padding-left: 1rem;
    margin-bottom: $blog-spacer;

    a {
      color: $secondary;
      text-decoration: none;
      transition: color $transition ease;
      font-family: $font-family-heavy;

      &:hover {
        color: $black;
        text-decoration: none;
      }
    }

    li {
      padding: 0.3rem 0;
      padding-left: 1.4rem;
      position: relative;
      display: flex;
      align-items: center;
    }
    li::before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background-color: $cover-27;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: $primary;
    }

    @include media-breakpoint-down(md) {
      font-size: 1rem;
      padding-left: 0;
    }
  }

  :global(.block-advanced) {
    border-radius: 0.5rem;
    border: 1px solid $gray-2;
    background: $primary-cover-2;
    padding: 1.25rem;
    width: 100%;
    margin-bottom: 1.25rem;

    ul {
      padding: 0;
      margin-top: 0.5rem;
      margin-bottom: 0;

      li::before {
        content: "○";
        color: $dark;
        position: absolute;
        left: 0;
      }
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    margin-bottom: $blog-spacer;
  }

  :global(.table){
    overflow-x: auto;

    table {
      min-width: 600px;
    }
  }

  table {
    margin-bottom: $blog-spacer;
    font-size: 1.0625rem;
    thead {
      th {
        background-color: $cover-26;
        font-weight: 600;
        vertical-align: top;
      }
    }

    tbody {
      tr:nth-child(even){
        background-color: $gray-21;
      }
    }

    th,
    td {
      font-weight: 500;
      padding: 1rem;
      img {
        width: 100%;
      }
    }
  }

  img {
    max-width: 100%;
  }

  p {
    font-size: 1.0625rem;
    line-height: 1.5rem;
    margin-bottom: $blog-spacer;

    strong {
      font-weight: 700;
      color: $dark;
    }
  }

  h1 {
    font-size: 2.3125rem;
  }

  h2 {
    font-size: 1.6875rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  @include media-breakpoint-down(md) {
    line-height: 1.375rem;
    padding: $blog-container-spacer/2 0;

    h1 {
      font-size: 1.5625rem;
    }
  
    h2 {
      font-size: 1.3125rem;
    }
  
    h3 {
      font-size: 1.125rem;
    }

    p {
      line-height: 1.375rem;
    }

    table {

    }
  }
}

.blogArticleIcon {
  color: $grey-25;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.blogArticleRect {
  font-size: 0.5rem;
  color: $grey-25;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.postThumb {
  width: 100%;
  border-radius: 4px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;

  img {
    max-width: 100%;
  }

  @include media-breakpoint-down(md) {
    width: calc(100% + #{$gutter});
    margin-left: -$gutter/2;
    border-radius: 0;
  }
}

.postShare {
  display: none;

  @include media-breakpoint-down(lg) {
    display: block;
  }
}

.postFooter {
  border-top: 1px solid $border-color;
}

.postLoader {
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tocContainer {
  position: relative;
  margin-top: 1rem;
  height: 300px;

  @include media-breakpoint-down(md) {
    display: none;
  }
}