@import "../../styles/base/variables.scss";

.accountPlan {
  width: 100%;
  max-width: 650px;
  padding: 0 $gutter/2;
  padding-bottom: $section-spacer;
  margin: 0 auto;

  @include media-breakpoint-down(md) {

  }
}